<div class="ttvproduct-wrapper list">
	<div class="ttvproduct-image col-sm-4">
		<a href="{{ product.href }}" class="thumbnail product-thumbnail">
				<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="ttvproduct-defult-img" />
				<img class="ttvproduct-hover-img" src="{{ product.hoverimage }}" alt="{{ product.name }}">
			</a>
	</div>
	<div class="ttvproductdescription-button-wrapper col-sm-8">
		<div class="product-description">
			<div class="ttvproduct-name">
				<div class="product-title">
					<a href="{{ product.href }}"><h6>{{ product.name }}</h6></a>
				</div>
			</div>
			<div class='ttv-product-desc'>
				{{ product.description }}
			</div>
			{% if product.price %}
			<div class="product-price-and-shipping">
				{% if not product.special %}
				<span class="price">{{ product.price }}</span>
				{% else %}
				<span class="price">{{ product.special }}</span>
				<span class="regular-price">{{ product.price }}</span>
				{% endif %}
				{% if product.tax %}
				<span class="price-tax">{{ text_tax }}{{ product.tax }}</span>
				{% endif %}
			</div>
			{% endif %}
			<div class="hrxproductlist-comment-stock-wrapper">
				<div class="ttvall-product-star-icon">
					{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_rating_design.twig' with {'rating': product.rating} %}
				</div>
			</div>
			{% if product.date_end  and product.date_end != "0000-00-00" %} {% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_timelimit_design.twig' with {'productdate': product.date_end} %}{% endif %}
		</div>
		<div class="ttvall-product-btn-list">
			<div class="ttvproduct-hover-btn">
				<div class="ttvproduct-cart-btn-list">
					<button data-button-action="add-to-cart" type="submit" class="btn btn-primary add-to-cart ttvproduct-add-to-cart" onclick="cart.add1('{{ product.product_id }}');" title="{{ button_cart }}" data-link-action="{{ button_cart }}" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="{{ button_cart }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
					<span class="ttvproduct-add-to-cart-label">{{ button_cart }}</span></button>
				</div>
				<div class="highlighted-informations no-variants ttvproduct-quick-btn quickview" data-quickviewid="{{ product.product_id }}" title="{{ text_quickview }}" data-link-action="{{ text_quickview }}" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="{{ text_quickview }}">
					<div class="ttvproduct-quick-icon"><i class="fa fa-search search" aria-hidden="true"></i></div>
					<div class="ttvproduct-quick-lable">{{ text_quickview }}</div>
				</div>
				{% if wishlistdisplay %}
				<div class="ttvproduct-wishlist-btn-list">
					<button onclick="wishlist.add1('{{ product.product_id }}');" class="btn btn-primary ttvproduct-wishlist" title="{{ button_wishlist }}" data-link-action="{{ button_wishlist }}" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="{{ button_wishlist }}">
						<i class="fa fa-heart"></i>
						<span class="ttvproduct-add-to-wishlist-label">{{ button_wishlist }}</span>
					</button>
				</div>
				{% endif %}
				{% if comparedisplay %}
				<div class="ttvproduct-compare-btn-list">
					<button onclick="compare.add1('{{ product.product_id }}');" class="btn btn-primary ttvproduct-compare" title="{{ button_compare }}" data-link-action="{{ button_compare }}" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="{{ button_compare }}">
						<i class="fa fa-exchange"></i>
						<span class="ttvproduct-add-to-compare-label">{{ button_compare }}</span>
					</button>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>