{{ header }}
<div id="wrapper">
	<div id="account-download" class="container">
		{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
		<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">{{ content_top }}
				<div id="main">
					<div class="ttvpage-header-title-wrapper">
						<h2 class="ttvpage-header-title">{{ heading_title }}</h2>
					</div>
					<div class="ttv-sub-pages-inner-content">
						{% if downloads %}
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<td class="text-right">{{ column_order_id }}</td>
										<td class="text-left">{{ column_name }}</td>
										<td class="text-left">{{ column_size }}</td>
										<td class="text-left">{{ column_date_added }}</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
									{% for download in downloads %}
									<tr>
										<td class="text-right">{{ download.order_id }}</td>
										<td class="text-left">{{ download.name }}</td>
										<td class="text-left">{{ download.size }}</td>
										<td class="text-left">{{ download.date_added }}</td>
										<td><a href="{{ download.href }}" data-toggle="ttvtooltip" title="{{ button_download }}" class="btn btn-primary"><i class="fa fa-cloud-download"></i></a></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-sm-6 text-left">{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_pagination_design.twig' with {'pagination': pagination} %}</div>
							<div class="col-sm-6 text-right">{{ results }}</div>
						</div>
						{% else %}
						<p class="ttv-notfound-content">{{ text_empty }}</p>
						{% endif %}
						<div class="buttons clearfix">
							<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary ttv-innerpage-button">{{ button_continue }}</a></div>
						</div>
						{{ content_bottom }}
					</div>					
				</div>
			</div>
			{{ column_right }}</div>
	</div>
</div>
{{ footer }}