{{ header }}
<div id="wrapper">
	<div id="account-forgotten" class="container">
		{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
		{% endif %}
		<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">{{ content_top }}
				<div id="main">
					<div class="ttv-sub-pages-inner-content">
						<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
							<fieldset>
								<div class="ttvpage-sub-title-wrapper">
									<legend class="ttvpage-sub-title">{{ text_your_email }}</legend>
								</div>
								<div class="form-group required">
									<label class="col-sm-2 control-label ttvpage-sub-label" for="input-email">{{ entry_email }}</label>
									<div class="col-sm-10">
										<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
									</div>
								</div>
							</fieldset>
							<div class="buttons clearfix">
								<div class="pull-left"><a href="{{ back }}" class="btn btn-default ttv-innerpage-button">{{ button_back }}</a></div>
								<div class="pull-right">
									<input type="submit" value="{{ button_continue }}" class="btn btn-primary ttv-innerpage-button" />
								</div>
							</div>
						</form>
						{{ content_bottom }}
					</div>					
				</div>
			</div>
			{{ column_right }}
		</div>
	</div>
</div>
{{ footer }}