f{{ header }}
<div id="wrapper">
	<div id="account-newsletter" class="container">
		{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
		<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">{{ content_top }}
				<div id="main">
					<div class="ttvpage-header-title-wrapper">
						<h1 class="ttvpage-header-title">{{ heading_title }}</h1>
					</div>
					<div class="ttv-sub-pages-inner-content">
						<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label ttvpage-sub-label">{{ entry_newsletter }}</label>
									<div class="col-sm-10">
										{% if newsletter %}
										<label class="radio-inline">
											<input type="radio" name="newsletter" value="1" checked="checked" /> {{ text_yes }} </label>
										<label class="radio-inline">
											<input type="radio" name="newsletter" value="0" /> {{ text_no }}</label>
										{% else %}
										<label class="radio-inline">
											<input type="radio" name="newsletter" value="1" /> {{ text_yes }} </label>
										<label class="radio-inline">
											<input type="radio" name="newsletter" value="0" checked="checked" /> {{ text_no }}</label>
										{% endif %}
									</div>
								</div>
							</fieldset>
							<div class="buttons clearfix">
								<div class="pull-left"><a href="{{ back }}" class="btn btn-default ttv-innerpage-button">{{ button_back }}</a></div>
								<div class="pull-right">
									<input type="submit" value="{{ button_continue }}" class="btn btn-primary ttv-innerpage-button" />
								</div>
							</div>
						</form>
						{{ content_bottom }}
					</div>					
				</div>
			</div>
			{{ column_right }}
		</div>
	</div>
</div>
{{ footer }}