{{ header }}
<div id="wrapper">
	<div id="account-password" class="container">
	{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">{{ content_top }}
				<div id="main">
					<div class="ttvpage-header-title-wrapper">
						<h1 class="ttvpage-header-title">{{ heading_title }}</h1>
					</div>
					<div class="ttv-sub-pages-inner-content">
						<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
							<fieldset>
								<div class="ttvpage-sub-title-wrapper">
									<legend class="ttvpage-sub-title">{{ text_password }}</legend>
								</div>
								<div class="form-group required">
									<label class="col-sm-2 control-label ttvpage-sub-label" for="input-password">{{ entry_password }}</label>
									<div class="col-sm-10">
										<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" /> {% if error_password %}
										<div class="text-danger">{{ error_password }}</div>
										{% endif %}
									</div>
								</div>
								<div class="form-group required">
									<label class="col-sm-2 control-label ttvpage-sub-label" for="input-confirm">{{ entry_confirm }}</label>
									<div class="col-sm-10">
										<input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" /> {% if error_confirm %}
										<div class="text-danger">{{ error_confirm }}</div>
										{% endif %}
									</div>
								</div>
							</fieldset>
							<div class="buttons clearfix">
								<div class="pull-left"><a href="{{ back }}" class="btn btn-default btn-primary ttv-innerpage-button">{{ button_back }}</a></div>
								<div class="pull-right">
									<input type="submit" value="{{ button_continue }}" class="btn btn-primary ttv-innerpage-button" />
								</div>
							</div>
						</form>
						{{ content_bottom }}
					</div>					
				</div>
			</div>
			{{ column_right }}</div>
	</div>
</div>
{{ footer }}