{{ header }}
<div id="wrapper">
	<div id="account-recurring" class="container">
		{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">{{ content_top }}
				<div id="main">
					<div class="ttvpage-header-title-wrapper">
						<h1 class="ttvpage-header-title">{{ heading_title }}</h1>
					</div>
					<div class="ttv-sub-pages-inner-content">
						{% if recurrings %}
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<td class="text-right">{{ column_order_recurring_id }}</td>
										<td class="text-left">{{ column_product }}</td>
										<td class="text-left">{{ column_status }}</td>
										<td class="text-left">{{ column_date_added }}</td>
										<td class="text-right"></td>
									</tr>
								</thead>
								<tbody>
									{% for recurring in recurrings %}
									<tr>
										<td class="text-right">#{{ recurring.order_recurring_id }}</td>
										<td class="text-left">{{ recurring.product }}</td>
										<td class="text-left">{{ recurring.status }}</td>
										<td class="text-left">{{ recurring.date_added }}</td>
										<td class="text-right"><a href="{{ recurring.view }}" data-toggle="ttvtooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="text-right">{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_pagination_design.twig' with {'pagination': pagination} %}</div>
						{% else %}
						<p class="ttv-notfound-content">{{ text_empty }}</p>
						{% endif %}
						<div class="buttons clearfix">
							<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary ttv-innerpage-button">{{ button_continue }}</a></div>
						</div>
						{{ content_bottom }}
					</div>					
				</div>
			</div>
			{{ column_right }}
		</div>
	</div>
</div>
{{ footer }}