{{ header }}
<div id="wrapper">
	<div id="account-reward" class="container">
		{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">{{ content_top }}
				<div id="main">
					<div class="ttvpage-header-title-wrapper">
						<h1 class="ttvpage-header-title">{{ heading_title }}</h1>
					</div>
					<div class="ttv-sub-pages-inner-content">
						<p>{{ text_total }} <b>{{ total }}</b>.</p>
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<td class="text-left">{{ column_date_added }}</td>
										<td class="text-left">{{ column_description }}</td>
										<td class="text-right">{{ column_points }}</td>
									</tr>
								</thead>
								<tbody>
									{% if rewards %} {% for reward in rewards %}
									<tr>
										<td class="text-left">{{ reward.date_added }}</td>
										<td class="text-left">{% if reward.order_id %} <a href="{{ reward.href }}">{{ reward.description }}</a> {% else %} {{ reward.description }} {% endif %}</td>
										<td class="text-right">{{ reward.points }}</td>
									</tr>
									{% endfor %} {% else %}
									<tr>
										<td class="text-center" colspan="3">{{ text_empty }}</td>
									</tr>
									{% endif %}
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-sm-6 text-left">{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_pagination_design.twig' with {'pagination': pagination} %}</div>
							<div class="col-sm-6 text-right">{{ results }}</div>
						</div>
						<div class="buttons clearfix">
							<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary ttv-innerpage-button">{{ button_continue }}</a></div>
						</div>					
						{{ content_bottom }}
					</div>
				</div>
			</div>
			{{ column_right }}
		</div>
	</div>
</div>
{{ footer }}