{{ header }}
<div id="wrapper">
	<div id="account-wishlist" class="container">
		{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">{{ content_top }}
				<div id="main">
					<div class="ttv-sub-pages-inner-content">
						{% if products %}
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<td class="text-center">{{ column_image }}</td>
										<td class="text-left">{{ column_name }}</td>
										<td class="text-left">{{ column_model }}</td>
										<td class="text-right">{{ column_stock }}</td>
										<td class="text-right">{{ column_price }}</td>
										<td class="text-right">{{ column_action }}</td>
									</tr>
								</thead>
								<tbody>
									{% for product in products %}
									<tr>
										<td class="text-center">{% if product.thumb %}<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" /></a>{% endif %}</td>
										<td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a></td>
										<td class="text-left">{{ product.model }}</td>
										<td class="text-right">{{ product.stock }}</td>
										<td class="text-right">
											{% if product.price %}
											<div class="price product-price-and-shipping">
												{% if not product.special %}
													<span class="price">{{ product.price }}</span>
												{% else %}
													<b class="price">{{ product.special }}</b>
													<s class="regular-price">{{ product.price }}</s>
												{% endif %}
											</div>
											{% endif %}
										</td>
										<td class="text-right">
											<button type="button" onclick="cart.add1('{{ product.product_id }}');" data-toggle="ttvtooltip" title="{{ button_cart }}" class="btn btn-primary  ttv-subpage-button"><i class="fa fa-shopping-cart"></i></button>
											<a href="{{ product.remove }}" data-toggle="ttvtooltip" title="{{ button_remove }}" class="btn btn-danger ttv-subpage-button"><i class="fa fa-times"></i></a></td>              
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						{% else %}
						<p class="ttv-notfound-content" >{{ text_empty }}</p>
						{% endif %}
						<div class="buttons clearfix">
							<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary ttv-innerpage-button">{{ button_continue }}</a></div>
						</div>
						{{ content_bottom }}
					</div>					
				</div>
			</div>
			{{ column_right }}
		</div>
	</div>
</div>
{{ footer }}