<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if title %}{{ title }}{% else %} title {% endif %}</title>
	<base href="{{ base }}" /> {% if description %}
	<meta name="description" content="{{ description }}" /> {% endif %} {% if keywords %}
	<meta name="keywords" content="{{ keywords }}" /> {% endif %}
	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- font -->
	<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="catalog/view/theme/opc_fashion_jbcollection_2201/assets/fonts/Poppins.css" rel="stylesheet">
	<!-- common CSS START-->
	<!-- font -->
	<!-- common CSS START-->
	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="catalog/view/theme/opc_fashion_jbcollection_2201/assets/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="catalog/view/theme/opc_fashion_jbcollection_2201/assets/css/nivo.css" rel="stylesheet" />
	<link href="catalog/view/theme/opc_fashion_jbcollection_2201/assets/css/jquery.fancybox.css" rel="stylesheet" />
	<link href="catalog/view/theme/opc_fashion_jbcollection_2201/assets/css/jquery.minicolors.css" rel="stylesheet" />
	<link href="catalog/view/theme/opc_fashion_jbcollection_2201/assets/css/bootstrap-toggle.min.css" rel="stylesheet" />
	<!-- common CSS END -->
	<!-- common JS START -->
	<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
	<script type="text/javascript" src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/owl.js"></script>
	<script type="text/javascript" src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/nivo.js"></script>
	<script type="text/javascript" src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/jquery.fancybox.js"></script>
	<script type="text/javascript" src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/jquery.minicolors.js"></script>
	<script type="text/javascript" src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/bootstrap-toggle.min.js"></script>
	<script type="text/javascript" src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/jquery.storageapi.min.js"></script>
	<!-- common JS END -->
	<!-- theme option -->
	{% if theme_option_status %}
	<link href="catalog/view/theme/opc_fashion_jbcollection_2201/assets/css/tvcmscustomsthemeoption.css" rel="stylesheet" />
	<script type="text/javascript" src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/tvcmscustomsthemeoption.js"></script>
	{% endif %}
	<!-- theme option -->
	<!-- themevolty custom Theme JS START -->
	<script src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/commonthemevolty.js" type="text/javascript"></script>
	<script src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/custom.js" type="text/javascript"></script>
	<!-- themevolty custom Theme JS END -->
	<!-- themevolty custom Theme CSS START -->
	<link href="catalog/view/theme/opc_fashion_jbcollection_2201/assets/css/theme.css" rel="stylesheet" />
	<link href="catalog/view/theme/opc_fashion_jbcollection_2201/assets/css/common.css" rel="stylesheet" />
	<link href="catalog/view/theme/opc_fashion_jbcollection_2201/assets/css/custom.css" rel="stylesheet" />
	<!-- themevolty custom Theme CSS END -->
	{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}
	{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}
	{% for link in links %}
	<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}
	{% for analytic in analytics %} {{ analytic }} {% endfor %}
</head>

<body id="{% if homeid %}{{ homeid }}{% else %}noid{% endif %}" class="lang-es {% if direction != 'ltr' %} lang-rtl {% endif %}  country-us currency-usd layout-full-width page-index tax-display-disabled" data-menu-sticky='{{ mainmenustickystatus }}' style="{{ tvcmscustomsetting_background_style_sheet }}">
	{{ themeoption }}
	{% if bottomoption %}<div class="bottomoption hidden">{{ bottomoption }}</div>{% endif %}
	{% if mousehoverimage %}<div class="mousehoverimage hidden">{{ mousehoverimage }}</div>{% endif %}
	{% if mainmenustickystatus %}<div class="mainmenustickystatus hidden">{{ mainmenustickystatus }}</div>{% endif %}
	{% if pageloader %}
	<div class="ttvcms-loading-overlay">
		<div class="ttvcms-loading-inner">
			<img class="logo img-responsive" src="{{ logo }}" alt="{{ name }}">
			<img src="{{ loader_img }}" alt="{{ loader_img }}">
		</div>
	</div>
	{% endif %}
	<div class="ttv-main-div{% if boxlayout %}ttv-box-layout container{% endif %}">
		<header id="header">
			<div class="ttvcmsheader-banner"></div>
			<div class="ttvcmsdesktop-top-header-wrapper">
				<div class="ttvcmsdesktop-navbar-wrapper">
					<div class="container">
						<div class="row ttvcmsdesktop-headrer-nav-outer">
							<div class="col-sm-12 col-md-6 col-lg-6 ttvcmsdesktop-navoffer-wrapper">
								<div class="ttvheader-nav-offer-text">
									<span class="ttvheader-nav-label">{{ text_contact_us }}</span>&nbsp;
									<span>{{ telephone }}</span>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-6 ttvcmsdesktop-navright-wrapper">
								<div class="ttvcms-header-myaccount">
									<div class="ttv-header-account">
										<div class="ttv-account-wrapper"><button class="btn-unstyle ttv-myaccount-btn">
												<span>{{ tv_lang_account }}</span><i class="fa fa-angle-down" aria-hidden="true"></i></button>
											<div class="dropdown-menu ttv-account-dropdown ttv-dropdown" style="display: none;">
												<!-- begin module:opc_fashion_jbcollection_2201\template\common\language.twig -->
												<!-- begin D:\xampp\htdocs\opencart\hrx\hrx_101\catalog\view\theme\opc_fashion_jbcollection_2201\template\common\language.twig -->
												{{ language }}
												<!-- end D:\xampp\htdocs\opencart\hrx\hrx_101\catalog\view\theme\opc_fashion_jbcollection_2201\template\common\language.twig -->
												<!-- end module:opc_fashion_jbcollection_2201\template\common\language.twig -->
												<!-- begin module:opc_fashion_jbcollection_2201\template\common\currency.twig -->
												<!-- begin  D:\xampp\htdocs\opencart\hrx\hrx_101\catalog\view\theme\opc_fashion_jbcollection_2201\template\common\currency.twig -->
												{{ currency }}
												<!-- end  D:\xampp\htdocs\opencart\hrx\hrx_101\catalog\view\theme\opc_fashion_jbcollection_2201\template\common\currency.twig -->
												<!-- end module:opc_fashion_jbcollection_2201\template\common\currency.twig -->
											</div>
										</div>
									</div>
								</div>
								<div class="ttvcmslogin-wrapper">
									<!-- begin module:ps_customersignin/ps_customersignin.tpl -->
									<!-- begin D:\xampp\htdocs\ttvtemplate\ttv_10\1018_Fashion_JBCollection_Store/themes/1018_Fashion_JBCollection_Store/modules/ps_customersignin/ps_customersignin.tpl -->
									<div id="ttvcmsdesktop-user-info" class="ttvcms-header-sign">
										<div class="user-info ttvheader-sign">
											{% if logged %}
											<a class="logout ttvhedaer-sign-btn" href="{{ logout }}"> {{ text_logout }}</a>
											<a class="account ttvhedaer-sign-btn" href="{{ account }}" title="View my customer account"><span class="ttvhedaer-sign-span">{{ text_account }}</span></a>
											{% else %}
											<a href="{{ login }}" class="ttvhedaer-sign-btn" title="Log in to your customer account">
												<span class="ttvhedaer-sign-span">{{ text_login }}</span>
											</a>
											{% endif %}
										</div>
									</div>
									<!-- end D:\xampp\htdocs\ttvtemplate\ttv_10\1018_Fashion_JBCollection_Store/themes/1018_Fashion_JBCollection_Store/modules/ps_customersignin/ps_customersignin.tpl -->
									<!-- end module:ps_customersignin/ps_customersignin.tpl -->
								</div>
								<div class=" ttvcmssearch-wrapper" id="_desktop_search">
									<!-- begin catalog\view\theme\opc_fashion_jbcollection_2201\template\common\search.twig -->
									{{ search }}
									<!-- end catalog\view\theme\opc_fashion_jbcollection_2201\template\common\search.twig -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ttvcmsdesktop-wrapper-navbar">
					<div class="container">
						<div class="row ttvcmsdesktop-wrapper-box">
							<div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 position-static ttvcms-header-menu">
								<div class="ttvcmsmain-menu-wrapper-outer">
									<div class="ttvcmsheader-main-menu-wrapper">
										<div class="ttvmain-menu-icon">
											<div class="ttvmain-menu-open"><i class="fa fa-bars" aria-hidden="true"></i>
												<span class="ttvmain-menu-open-wrapper">{{ text_menu }}</span></div>
											<div class="ttvmain-menu-close"><i class="fa fa-times" aria-hidden="true"></i>
												<span class="ttvmain-menu-open-wrapper">{{ text_menu }}</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-lg-8 col-xl-8 hidden-sm-down ttvcms-header-logo" id="ttvcmsdesktop-logo">
								<div class="ttv-header-logo">
									{% if logo %}
									<a href="{{ home }}" class="ttvheader-top-logo-wrapper">
										<img class="logo img-responsive" src="{{ logo }}" title="{{ name }}" alt="{{ name }}">
									</a> {% else %}
									<h1><a href="{{ home }}" class="ttvheader-top-logo-wrapper">{{ name }}</a></h1>
									{% endif %}
								</div>
								<div class="ttvcmsheader-main-menu-wrapper">
									<!-- begin module:opc_fashion_jbcollection_2201\template\common\menu.twig -->
									<!-- begin D:\xampp\htdocs\opencart\hrx\hrx_101\catalog\view\theme\opc_fashion_jbcollection_2201\template\common\menu.twig -->
									{{ menu }}
									<!-- end D:\xampp\htdocs\opencart\hrx\hrx_101\catalog\view\theme\opc_fashion_jbcollection_2201\template\common\menu.twig -->
									<!-- end module:opc_fashion_jbcollection_2201\template\common\menu.twig -->
								</div>
							</div>
							<div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 hidden-md-down ttvcmsheader-nav-right">
								<div class="ttv-search-account-cart-wrapper">
									<div class="ttv-cart-outer-wrapper">
										<!-- begin module:opc_fashion_jbcollection_2201\template\common\cart.twig -->
										<!-- begin D:\xampp\htdocs\opencart\hrx\hrx_101\catalog\view\theme\opc_fashion_jbcollection_2201\template\common\cart.twig -->
										{{ cart }}
										<!-- end D:\xampp\htdocs\opencart\hrx\hrx_101\catalog\view\theme\opc_fashion_jbcollection_2201\template\common\cart.twig -->
										<!-- end module:opc_fashion_jbcollection_2201\template\common\cart.twig -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="ttvcms-mobile-view-header" class="hidden-lg-up">
				<div class="ttvcmsmobile-header-left">
					<div id="ttvcmsmobile-horizontal-menu"></div>
				</div>
				<div class="ttvcmsmobile-header-center">
					<div id="ttvcmsmobile-header-logo"></div>
				</div>
				<div class="ttvcmsmobile-header-right">
					<div id="ttvcmsmobile-horizontal-menu-left"></div>
					<div id="ttvcmsmobile-header-right"></div>
					<div id="ttvcmsmobile-vertical-menu"></div>
				</div>
			</div>
		</header>