{{ header }}
<div id="wrapper">
	<div id="product-category" class="ttv-category-sub-page">
		<div class="container ttv-left-layout">
			{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
			{{ column_left }}
			{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
			{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
			{% else %}
			{% set class = 'col-sm-12' %}
			{% endif %}
			<div id="content-wrapper" class="left-column {{ class }} {{ category_data }}">
				{{ content_top }}
				<div id="main">
						{% if thumb or description %} {% if thumb %}
							<div class="block-category card card-block clearfix ttv-category-block-wrapper">
								<div class="ttv-category-cover">
								<img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}">
								</div>
								{% endif %} {% if description %}
								<div class="ttv-all-page-main-title-wrapper">
									<div class="ttv-all-page-main-title">{{ heading_title }}</div>
								</div>
								<div id="category-description" class="text-muted">
									<p><span>{{ description }}</span></p>
								</div>
								{% endif %}
							</div>
						{% endif %}
						<div class="text-sm-center hidden-md-up">
							<div class="ttvmobile-view-category-title">{{ heading_title }}</div>
						</div>
						{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_product_page_design.twig' with {'products': products,'no_product':no_product,'text_limit':text_limit,'limits':limits,'text_sort':text_sort,'sorts':sorts,'products':products,'pagination':pagination} %}
						{% if not categories and not products %}
						<div class="ttv-noproduct">
							<p>{{ text_empty }}</p>
							<div class="buttons">
								<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
							</div>
						</div>
						{% endif %} {{ content_bottom }}
					</div>
					{{ column_right }}
				</div>
			</div>
		</div>
</div>
{{ footer }}