{{ header }}
<div id="wrapper">
	{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
	<div id="product-manufacturer" class="container">
		<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">{{ content_top }}
				<div id="main" class="a-link-group">
					<div class="ttv-sub-pages-inner-content">
						{% if categories %}
						<p><strong>{{ text_index }}</strong> {% for category in categories %} &nbsp;&nbsp;&nbsp;
							<a href="index.php?route=product/manufacturer#{{ category.name }}">{{ category.name }}</a> {% endfor %} </p>
						{% for category in categories %}
						<div class="a-link-list">
							<div class="a-link-heading">
								<h2 id="{{ category.name }}">{{ category.name }}</h2>
							</div>
							{% if category.manufacturer %} {% for manufacturers in category.manufacturer|batch(4) %}
							<div class="a-link-content">
								{% for manufacturer in manufacturers %}
								<div><a href="{{ manufacturer.href }}">{{ manufacturer.name }}</a></div>
								{% endfor %}
							</div>
						</div>
						{% endfor %} {% endif %} {% endfor %} {% else %}
						<div class="ttv-noproduct">
							<p>{{ text_empty }}</p>
							<div class="buttons clearfix">
								<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
							</div>
						</div>
						{% endif %} {{ content_bottom }}
					</div>
				</div>
			</div>
			{{ column_right }}</div>
	</div>
</div>
{{ footer }}