{{ header }}
<script type="text/javascript" src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/jquery.elevatezoom.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/opc_fashion_jbcollection_2201/assets/js/productpage.js"></script>
<div id="wrapper">
	<div class="">
		<div id="product-product" class="container">
			{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
			<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
				<div id="content" class="{{ class }}">{{ content_top }}
					<div id="main">
									<div class="ttv-sub-pages-inner-content clearfix">
										<div> {% if column_left or column_right %} {% set class = 'col-sm-6' %} {% else %} {% set class = 'col-sm-6' %} {% endif %}
											<div class="{{ class }} ttvproduct-details-img-block"> {% if thumb or images %}
												<div class="thumbnails">
													{% if thumb %}
													<div>
														<a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img id="img_zoom" src="{{ thumb }}" alt="{{ heading_title }}" data-zoom-image="{{ popup }}" /></a>
													</div>
													{% endif %} {% if images %}
													<div class="ttv-additional-image">
														<div class="ttvsingimage-content-box owl-theme owl-carousel">
															{% for image in images %}
															 <a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>{% endfor %}
														</div>
														<div class="ttvcms-singleimage-pagination-wrapper">
															<div class="ttvcms-singleimage-pagination-btn">
																<div class="ttvsingleimage-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
																<div class="ttvsingleimage-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
															</div>
														</div>
													</div>
													{% endif %}
												</div>
												{% endif %}
											</div>
											{% if column_left or column_right %} {% set class = 'col-sm-6' %} {% else %} {% set class = 'col-sm-6' %} {% endif %}
											<div class="{{ class }} ttv-wrapper-info">
												<h1 class="ttvproduct-title">{{ heading_title }}</h1>
												{% if review_status %}
												<div class="ttvall-product-star-icon">
													{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_rating_design.twig' with {'rating': rating} %}
												</div>
												<div class="ttv-review">
													<a href=""  class="reviews_button" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><i class="fa fa-comment"></i>{{ reviews }} </a>| <a href="" class="reviews_button" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><i class="fa fa-pencil"></i>{{ text_write }}</a>
												</div>									
											{% endif %}
											<ul class="list-unstyled">
												{% if manufacturer %}
												<li><span class="ttv-product-label">{{ text_manufacturer }}</span> <a href="{{ manufacturers }}" class="ttvproduct-brand">{{ manufacturer }}</a></li>
												{% endif %}
												<li><span class="ttv-product-label">{{ text_model }}</span><span class="ttvproduct-model"> {{ model }} </span></li>
												{% if reward %}
												<li><span class="ttv-product-label">{{ text_reward }}</span><span class="ttvproduct-reward"> {{ reward }} </span></li>
												{% endif %}
												<li><span class="ttv-product-label">{{ text_stock }}</span><span class="ttvproduct-stock-status"> {{ stock }} </span></li>
											</ul>
											<hr> {% if price %}
											<ul class="list-unstyled product-price-and-shipping">
												{% if not special %}
												<li>
													<h2 class="price">{{ price }}</h2>
												</li>
												{% else %}
												<li><span style="text-decoration: line-through;" class="regular-price">{{ price }}</span></li>
												<li>
													<h2 class="price">{{ special }}</h2>
												</li>
												{% endif %} {% if tax %}
												<li class="ttv-tax">{{ text_tax }} {{ tax }}</li>
												{% endif %} {% if points %}
												<li class="ttv-point">{{ text_points }} {{ points }}</li>
												{% endif %} {% if discounts %}
												<li>
													<hr>
												</li>
												{% for discount in discounts %}
												<li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
												{% endfor %} {% endif %}
											</ul>
											{% endif %}
											<div id="product"> {% if options %}
												<hr>
												<h3 class="ttvpage-sub-title">{{ text_option }}</h3> {% for option in options %} {% if option.type == 'select' %}
												<div class="form-group{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
														<option value="">{{ text_select }}</option>
														{% for option_value in option.product_option_value %}
														<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }} {% if option_value.price %} ({{ option_value.price_prefix }}{{ option_value.price }}) {% endif %} </option>
														{% endfor %}
													</select>
												</div>
												{% endif %} {% if option.type == 'radio' %}
												<div class="form-group{% if option.required %} required {% endif %}">
													<label class="control-label">{{ option.name }}</label>
													<div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
														<div class="radio">
															<label>
																<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" /> {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %} {{ option_value.name }} {% if option_value.price %} ({{ option_value.price_prefix }}{{ option_value.price }}) {% endif %} </label>
														</div>
														{% endfor %} </div>
												</div>
												{% endif %} {% if option.type == 'checkbox' %}
												<div class="form-group{% if option.required %} required {% endif %}">
													<label class="control-label">{{ option.name }}</label>
													<div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
														<div class="checkbox">
															<label>
																<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" /> {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %} {{ option_value.name }} {% if option_value.price %} ({{ option_value.price_prefix }}{{ option_value.price }}) {% endif %} </label>
														</div>
														{% endfor %} </div>
												</div>
												{% endif %} {% if option.type == 'text' %}
												<div class="form-group{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
												</div>
												{% endif %} {% if option.type == 'textarea' %}
												<div class="form-group{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
												</div>
												{% endif %} {% if option.type == 'file' %}
												<div class="form-group{% if option.required %} required {% endif %}">
													<label class="control-label">{{ option.name }}</label>
													<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block ttvbtn-upload"><i class="fa fa-upload"></i> {{ button_upload }}</button>
													<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
												</div>
												{% endif %} {% if option.type == 'date' %}
												<div class="form-group{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<div class="input-group date">
														<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
														<span class="input-group-btn">
																<button class="btn btn-default ttv-option-button" type="button"><i class="fa fa-calendar"></i></button>
															</span>
													</div>
												</div>
												{% endif %} {% if option.type == 'datetime' %}
												<div class="form-group{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<div class="input-group datetime">
														<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
														<span class="input-group-btn">
																<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
															</span>
													</div>
												</div>
												{% endif %} {% if option.type == 'time' %}
												<div class="form-group{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<div class="input-group time">
														<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
														<span class="input-group-btn">
																<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
															</span>
													</div>
												</div>
												{% endif %} {% endfor %} {% endif %} {% if recurrings %}
												<hr>
												<h3>{{ text_payment_recurring }}</h3>
												<div class="form-group required">
													<select name="recurring_id" class="form-control">
														<option value="">{{ text_select }}</option>
														{% for recurring in recurrings %}
														<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
														{% endfor %}
													</select>
													<div class="help-block" id="recurring-description"></div>
												</div>
												{% endif %}
												<div class="form-group">
													<label class="control-label ttv-qty-label">{{ entry_qty }}</label>
													<div class='ttv-product-cart-quentity-inner'>									
														<input type='text' class='ttvproduct-cart-quentity' id="cart_quantity{{ product_id }}" name="quantity" value="1" >
														<button class='ttvproduct-cart-quentity-decrement'>
															<i class="fa fa-angle-down" aria-hidden="true"></i>
														</button>
														<button class='ttvproduct-cart-quentity-increment'>
															<i class="fa fa-angle-up" aria-hidden="true"></i>
														</button>
													</div>
													<input type="hidden" name="product_id" value="{{ product_id }}" />
													<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block"><i class="fa fa-shopping-cart" aria-hidden="true"></i>{{ button_cart }}</button>
													<div class="btn-group ttvproduct-button-main">
														<button type="button" class="btn btn-default ttv-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add1('{{ product_id }}');" data-link-action="{{ button_wishlist }}" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="{{ button_wishlist }}"><i class="fa fa-heart"></i>{{ button_wishlist }}</button>
														<button type="button" class="btn btn-default ttv-compare" title="{{ button_compare }}" onclick="compare.add1('{{ product_id }}');" data-link-action="{{ button_compare }}" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="{{ button_compare }}"><i class="fa fa-exchange"></i>{{ button_compare }}</button>
													</div>
												</div>
												{% if minimum > 1 %}
												<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
												{% endif %}</div>
											<!-- AddThis Button BEGIN -->
											<div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
											<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
											<!-- AddThis Button END -->
										</div>
									</div>
									<div class="producttab">
										<ul class="nav nav-tabs ttvtabs">
											<li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
											{% if attribute_groups %}
											<li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
											{% endif %} {% if review_status %}
											<li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
											{% endif %}
										</ul>
										<div class="tab-content ">
											<div class="tab-pane active" id="tab-description">{{ description }}</div>
											{% if attribute_groups %}
											<div class="tab-pane" id="tab-specification">
												<table class="table table-bordered">
													{% for attribute_group in attribute_groups %}
													<thead>
														<tr>
															<td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
														</tr>
													</thead>
													<tbody>
														{% for attribute in attribute_group.attribute %}
														<tr>
															<td>{{ attribute.name }}</td>
															<td>{{ attribute.text }}</td>
														</tr>
														{% endfor %}
													</tbody>
													{% endfor %}
												</table>
											</div>
											{% endif %} {% if review_status %}
											<div class="tab-pane" id="tab-review">
												<form class="form-horizontal" id="form-review">
													<div id="review"></div>
													<h2 class="ttvpage-sub-title">{{ text_write }}</h2> {% if review_guest %}
													<div class="form-group required">
														<div class="col-sm-12">
															<label class="control-label ttvpage-sub-label" for="input-name">{{ entry_name }}</label>
															<input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
														</div>
													</div>
													<div class="form-group required">
														<div class="col-sm-12">
															<label class="control-label ttvpage-sub-label" for="input-review">{{ entry_review }}</label>
															<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
															<div class="help-block">{{ text_note }}</div>
														</div>
													</div>
													<div class="form-group required">
														<div class="col-sm-12">
															<label class="control-label ttvpage-sub-label">{{ entry_rating }}</label>
															&nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
															<input type="radio" name="rating" value="1" /> &nbsp;
															<input type="radio" name="rating" value="2" /> &nbsp;
															<input type="radio" name="rating" value="3" /> &nbsp;
															<input type="radio" name="rating" value="4" /> &nbsp;
															<input type="radio" name="rating" value="5" /> &nbsp;{{ entry_good }}</div>
													</div>
													{{ captcha }}
													<div class="buttons clearfix">
														<div class="pull-right">
															<button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
														</div>
													</div>
													{% else %} {{ text_login }} {% endif %}
												</form>
											</div>
											{% endif %}
										</div>
									</div>
									</div>
									{% if products %}
									<div class="ttvcmsrelated-product container-fluid">
										<div class="ttvrelated-product-wrapper-box container">
											<div class="ttvrelated-product-all-box">
												<div class="ttvrelated-product-content">
													<div class="ttvall-block-box-shadows">
														<div class="ttvrelated-main-title-wrapper">
															<div class="ttvcmsmain-title-wrapper">
																<div class="ttvcms-main-title">
																	<div class="ttvmain-title">{{ text_related }}</div>
																</div>
															</div>
															<div class="ttvrelated-pagination-wrapper ttv-pagination-wrapper">
																<div class="ttvcmsrelated-pagination">
																	<div class="ttvcmsrelated-next-pre-btn ttvcms-next-pre-btn">
																		<div class="ttvcmsrelated-prev" data-parent="ttvcmsrelated-product"><i class="fa fa-angle-left" aria-hidden="true"></i>
																		</div>
																		<div class="ttvcmsrelated-next" data-parent="ttvcmsrelated-product"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="ttvrelated-product">
															<div class="products owl-theme owl-carousel ttvrelated-product-wrapper ttvproduct-wrapper-content-box">
																{% set i = 0 %}
																{% for product in products %}
																{% if column_left and column_right %}
																{% set class = 'col-xs-8 col-sm-6' %}
																{% elseif column_left or column_right %}
																{% set class = 'col-xs-6 col-md-4' %}
																{% else %}
																{% set class = 'col-xs-6 col-sm-3' %} {% endif %}
																{% include 'opc_fashion_jbcollection_2201/template/extension/module/tvcmshelp_product_design.twig' with {'product': product} %}
																{% if column_left and column_right and (i + 1) % 2 == 0 %}
																<div class="clearfix visible-md visible-sm"></div>
																{% elseif column_left or column_right and (i + 1) % 3 == 0 %}
																<div class="clearfix visible-md"></div>
																{% elseif (i + 1) % 4 == 0 %}
																{% endif %}
																{% set i = i + 1 %}
																{% endfor %}
															</div>
														</div>
														{% if tags %}
														<p class="ttvproduct-tag">{{ text_tags }} {% for i in 0..tags|length %} {% if i
															< (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>, {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %} {% endfor %} </p>
														{% endif %}
														{{ content_bottom }}
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endif %}
					</div>
				</div>
{{ column_right }}</div>
</div>
</div>
</div>
<script type="text/javascript"><!--
/*******************************ralateproduct*******************************/
$('.ttvrelated-product-wrapper').owlCarousel({
	loop: false,
	dots: false,
	nav: false,
	responsive: {
		0: { items: 1 },
		320: { items: 1, slideBy: 1 },
		576: { items: 2, slideBy: 1 },
		768: { items: 2, slideBy: 1 },
		992: { items: 3, slideBy: 1 },
		1200: { items: 4, slideBy: 1 },
		1600: { items: 5, slideBy: 1 },
		1800: { items: 5, slideBy: 1 }
	},
});
$('.ttvcmsrelated-next-pre-btn .ttvcmsrelated-prev ').click(function(e) {
	e.preventDefault();
	$('.ttvrelated-product-wrapper .owl-nav .owl-prev').trigger('click');
});
$('.ttvcmsrelated-next-pre-btn .ttvcmsrelated-next ').click(function(e) {
	e.preventDefault();
	$('.ttvrelated-product-wrapper .owl-nav .owl-next').trigger('click');
});
$('.ttv-pagination-wrapper').insertAfter('.ttvproduct-wrapper-content-box');
//*******************************ralateproduct******************************/
</script> 
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function() {
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {

				if (!!$.prototype.fancybox)
					$.fancybox.open([{
						type: 'inline',
						autoScale: true,
						minHeight: 30,
						minWidth: "40%",
						content: '<p class="fancybox-success"> ' + json['success'] + ' </p>'
					}], {
						padding: 0
					});
				else
					alert(full_notic);


				var re = new RegExp(/^\d+/);
				var m = re.exec(json['total']);

				// Need to set timeout otherwise it wont update the total
				setTimeout(function() {
					$('.cart-total').html(m);
				}, 100);


				//$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cartdropdwon > ul').load('index.php?route=common/cart/info ul li');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});
//--></script> 
<script type="text/javascript"><!--
$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
$('#review').delegate('.pagination a', 'click', function(e) {
	e.preventDefault();

	$('#review').fadeOut('slow');

	$('#review').load(this.href);

	$('#review').fadeIn('slow');
});
$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');
$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$(document).ready(function() {
	var magnific = $('.thumbnails').magnificPopup({
		type: 'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
	magnific.off('click');
	// prevent the default click event of the link so it will no redirect to the `href`
	magnific.on('click', function(e) {
	  e.preventDefault();
	});
	magnific.on('dblclick', function(){
	  magnific.magnificPopup('open')
	});



	/*******************************single image*******************************/
	$('.ttvsingimage-content-box').owlCarousel({
		loop: false,
		dots: false,
		nav: false,
		responsive: {
			0: { items: 1 },
			320: { items: 2, slideBy: 1 },
			400: { items: 3, slideBy: 1 },
			575: { items: 4, slideBy: 1 },
			768: { items: 2, slideBy: 1 },
			800: { items: 3, slideBy: 1 },
			992: { items: 4, slideBy: 1 },
			1200: { items: 3, slideBy: 1 },
			1800: { items: 3, slideBy: 1 }
		},
	});
	$('.ttvcms-singleimage-pagination-btn .ttvsingleimage-prev').click(function(e) {
		e.preventDefault();
		$('.ttvsingimage-content-box .owl-nav .owl-prev').trigger('click');
	});
	$('.ttvcms-singleimage-pagination-btn .ttvsingleimage-next').click(function(e) {
		e.preventDefault();
		$('.ttvsingimage-content-box .owl-nav .owl-next').trigger('click');
	});
	/*******************************single image*******************************/

	/*product page review button */
	$(".reviews_button").click(function() {
		var tabTop = $(".producttab").offset().top - 160;
		$("html, body").animate({ scrollTop: tabTop }, 1000);
	});

});
if (document.body.clientWidth > 991) {
	var href1 = $('#img_zoom').attr('src');
	$("#img_zoom").elevateZoom({
		zoomType: "inner",
		cursor: "crosshair",
		bgimg : href1
	});
}
$('.thumbnail').click(function(){
	var href = $(this).attr('href');
	$('#img_zoom').attr('src',href);  
	$('#img_zoom').attr('data-zoom-image',href);  
	if (document.body.clientWidth > 991) {
		$("#img_zoom").elevateZoom({
			zoomType: "inner",
			cursor: "crosshair",
			bgimg : href
		});
	}
});
/*zoom product page image */
	/* end */
//-->
</script>
{{ footer }}