{{ header }}
<div id="wrapper">
	<div class="">
		<div id="product-search" class="ttv-category-sub-page">
			<div class="container ttv-left-layout">
				{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
				{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
				<div id="content-wrapper" class="left-column {{ class }} {{ category_data }}">{{ content_top }}
					<div id="main">
						<div class="search-criteria">
							<label class="control-label ttv-search-title">{{ entry_product_search }}</label>
							<div class="row">
								<div class="col-sm-4">
									<input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" class="form-control ttv-search-input" />
								</div>
								<div class="col-sm-4">
									<select name="category_id" class="form-control ttv-search-category">
										<option value="0">{{ text_category }}</option>
										{% for category_1 in categories %} {% if category_1.category_id == category_id %}
										<option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
										{% else %}
										<option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
										{% endif %} {% for category_2 in category_1.children %} {% if category_2.category_id == category_id %}
										<option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
										{% else %}
										<option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
										{% endif %} {% for category_3 in category_2.children %} {% if category_3.category_id == category_id %}
										<option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
										{% else %}
										<option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
										{% endif %} {% endfor %} {% endfor %} {% endfor %}
									</select>
								</div>
								<div class="col-sm-4">
									<label class="checkbox-inline">
										{% if sub_category %}
										<input type="checkbox" name="sub_category" value="1" checked="checked" /> {% else %}
										<input type="checkbox" name="sub_category" value="1" /> {% endif %} {{ text_sub_category }}</label>
								</div>
							</div>
							<p>
								<label class="checkbox-inline">
									{% if description %}
									<input type="checkbox" name="description" value="1" id="description" checked="checked" /> {% else %}
									<input type="checkbox" name="description" value="1" id="description" /> {% endif %} {{ entry_product_description }}
								</label>
							</p>
							<input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary" />
						</div>
						<div class="text-sm-center hidden-md-up">
							<h2 class="ttvmobile-view-category-title">{{ text_product_search }}</h2>
						</div>
						{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_product_page_design.twig' with {'products': products,'no_product':no_product,'text_limit':text_limit,'limits':limits,'text_sort':text_sort,'sorts':sorts,'products':products,'pagination':pagination} %}
						{{ content_bottom }}
					</div>
				</div>
				{{ column_right }}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';

	var search = $('#content-wrapper input[name=\'search\']').prop('value');
	

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content-wrapper select[name=\'category_id\']').prop('value');

	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}

	var sub_category = $('#content-wrapper input[name=\'sub_category\']:checked').prop('value');

	if (sub_category) {
		url += '&sub_category=true';
	}

	var filter_description = $('#content-wrapper input[name=\'description\']:checked').prop('value');

	if (filter_description) {
		url += '&description=true';
	}
	location = url;
});

$('#content-wrapper input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});

$('select[name=\'category_id\']').trigger('change');
--></script>
{{ footer }}