{{ header }}
<section id="wrapper">
	<div class="ttvmain-box-layout-content-wrapper ttv-category-sub-page">
		<div id="product-special">
			<div class="container ttv-left-layout">
				{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
				{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
				<div id="content-wrapper" class="left-column {{ class }} {{ category_data }}">{{ content_top }}
					<section id="main">
						{% if thumb or description %}
						<div class="block-category card card-block hidden-sm-down ttvcenter-block-category">
							{% if thumb %} {% if thumb %}
							<div class="category-cover">
								<div class="ttvbanner-hover-wrapper">
									<div class="ttvbranner-hover-info-box"></div>
									<div class="ttvbanner-hover"></div>
									<img src="{{ thumb }}" alt="{{ heading_title }}" >
									<div class="ttvbanner-hover1"></div>
								</div>
							</div>
							{% endif %}
							{% if description %}
							<div class="ttvcenter-panel-category-title-desc">
								<div class="ttvcenter-block-category-title">{{ heading_title }}</div>
								<div id="category-description" class="ttvcategory-desc">
									<p><span>{{ description }}</span></p>
								</div>
							</div>
							{% endif %} {% endif %}
						</div>
						{% endif %}
						<div class="text-sm-center hidden-md-up">
							<div class="ttvmobile-view-category-title">{{ heading_title }}</div>
						</div>
						{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_product_page_design.twig' with {'products': products,'no_product':no_product,'text_limit':text_limit,'limits':limits,'text_sort':text_sort,'sorts':sorts,'products':products,'pagination':pagination} %}
						
						{% if not categories and not products %}
						<div class="ttv-noproduct">
							<p>{{ text_empty }}</p>
							<div class="buttons">
								<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
							</div>
						</div>
						{% endif %} {{ content_bottom }}
				</div>
				{{ column_right }}
</section>
</div>
{{ column_right }}</div>
</div>
</div>
</section>
{{ footer }}