{#
{% if status_main_form %}
{% if status_main_title %} {{ main_title }} {% endif %}
{% if status_main_short_description %} {{ main_short_description }} {% endif %}
{% if status_main_description %} {{ main_description }} {% endif %}
{% if status_main_image %} {{ main_image }} {% endif %}
{% endif %}
{% if status_record_form %}
	{% for banner in banners_data %}
		{% if status_title %} 
				{{ banner['tvcmsbanners_title'] }}
		{% endif %}
		{% if status_short_description %} 
				{{ banner['tvcmsbanners_descriptionshort'] }}
		{% endif %}
		{% if status_description %} 
				{{ banner['tvcmsbanners_description'] }}
		{% endif %}
		{% if status_btntext %} 
				{{ banner['tvcmsbanners_btntext'] }}
		{% endif %}
		{% if status_image %}
			{{ banner['tvcmsbanners_img'] }}
		{% endif %}
		{% if status_link %} 
			{{ banner['tvcmsbanners_link'] }}
		{% endif %}
		{{ banner['tvcmsbanners_align'] }}
	{% endfor %}
{% endif %}

{{ banners_data['tvcmsbanners_title'] }}
{{ banners_data['tvcmsbanners_descriptionshort'] }}
{{ banners_data['tvcmsbanners_description'] }}
{{ banners_data['tvcmsbanners_btntext'] }}
{{ banners_data['tvcmsbanners_align'] }}
{{ banners_data['tvcmsbanners_link'] }}

#}



{% if status_record_form %}
<div class="ttvcmsofferbanners-one container-fluid">
    <div class="container ttvcmsttvcmsofferbanners"  >
    	<div class="ttvbanner" style="background-image:url({{ banners_data['tvcmsbanners_img'] }})">
        	<div class="ttvbanner-wrapper ttvone-banner-wrapper-info" >
            	<div class="ttvbanner1">
                    <a href="{{ banner['tvcmsbanners_link'] }}">
                        <div class="ttvbanner-hover-wrapper">
                            <div class="ttvbanner-hover"></div>                            
                            <div class="ttvbanner-hover1"></div>
                        </div>
                        <div class="{{ banners_data['tvcmsbanners_align'] }}">
	                        <div class="ttvbanner-content">
	                        	<a href="#">
		                            <div class="ttvbanner1-title">{{ banners_data['tvcmsbanners_title'] }}</div>
		                        </a>
		                        <div class="ttvbanner1-sub-title">
		                        	<a href="#">{{ banners_data['tvcmsbanners_description'] }}
	 									<span>{{ banners_data['tvcmsbanners_descriptionshort'] }}</span>
		                            </a>
		                            <div class="ttvbanner1-btn">
		                            	<a href="{{ banners_data['tvcmsbanners_link'] }}">
		                            		{{ banners_data['tvcmsbanners_btntext'] }}
										</a>
									</div>
		                        </div>
	                        </div>
	                    </div>
                    </a>
                </div>
            </div>
    	</div> 
    </div>
</div>	


{% endif %}
