{{ header }}
<div id="wrapper">
	<div id="information-information" class="container">
		{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
		<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">
				{{ content_top }}
				<div id="main">
					<div class="ttvpage-header-title-wrapper">
						<h1 class="ttvpage-header-title">{{ heading_title }}</h1>
					</div>
					<div class="ttv-sub-pages-inner-content"> 
						<div class="ttveditable_description">
							{{ description }}
						</div>
						{{ content_bottom }}
					</div>				
					</div>
				</div>
				{{ column_right }}
			</div>
		</div>
</div>
{{ footer }}