{{ header }}
<div id="wrapper">
	<div id="information-tracking" class="container">
		{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
		<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">{{ content_top }}
				<div id="main">
					<div class="ttvpage-header-title-wrapper">
						<h1 class="ttvpage-header-title">{{ heading_title }}</h1>
					</div>
					<div class="ttv-sub-pages-inner-content">
						<p>{{ text_tracking }}</p>
						<div class="form-group required">
							<label class="col-sm-2 control-label ttvpage-sub-label" for="input-code">{{ entry_code }} </label>
							<div class="col-sm-10">
								<input type="text" name="code" value="{{ code }}" placeholder="{{ entry_code }}" id="input-code" class="form-control" />
							</div>
						</div>
						{{ content_bottom }}
					</div>
				</div>
			</div>
			{{ column_right }}
		</div>
</div>
<script type="text/javascript"><!--
$('#button-tracking').on('click', function() {
	$.ajax({
		url: 'index.php?route=information/tracking/tracking&code=' + $('input[name="code"]').val(),
		dataType: 'json',
		beforeSend: function() {
			$('#button-login').button('loading');
		},
		complete: function() {
			$('#button-login').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['redirect']) {
				location = json['redirect'];
			} else if (json['error']) {
				$('#collapse-checkout-option .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				// Highlight any found errors
				$('input[name=\'email\']').parent().addClass('has-error');
				$('input[name=\'password\']').parent().addClass('has-error');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

</div> { { footer } }