{{ header }}
<div id="wrapper">
	<div id="affiliate-login" class="container">
		{% include 'opc_fashion_jbcollection_2201/template/helpfile/tvcmshelp_breadcrumbs_design.twig' with {'breadcrumbs': breadcrumbs} %}
{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
		{% endif %} {% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
		{% endif %}
		<div class="row">{{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
			<div id="content" class="{{ class }}">{{ content_top }}
				<div id="main">
					<div class="ttvpage-header-title-wrapper">
						<h1 class="ttvpage-header-title">{{ heading_title }}</h1> 
					</div>
					{{ text_description }}
					<div class="row">
						<div class="col-sm-6">
							<div class="well ttv-sub-pages-inner-content">
								<div class="ttvpage-sub-title-wrapper">
									<h2 class="ttvpage-sub-title">{{ text_new_affiliate }}</h2>
								</div>
								<p>{{ text_register_account }}</p>
								<a class="btn btn-primary ttv-sub-pages-inner-content" href="{{ register }}">{{ button_continue }}</a></div>
						</div>
						<div class="col-sm-6">
							<div class="well ttv-sub-pages-inner-content">
								<div class="ttvpage-sub-title-wrapper">
									<h2 class="ttvpage-sub-title">{{ text_returning_affiliate }}</h2>
								</div>
								<p><strong>{{ text_i_am_returning_affiliate }}</strong></p>
								<form action="{{ action }}" method="post" enctype="multipart/form-data">
									<div class="form-group">
										<label class="control-label ttvpage-sub-label" for="input-email">{{ entry_email }}</label>
										<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
									</div>
									<div class="form-group">
										<label class="control-label ttvpage-sub-label" for="input-password">{{ entry_password }}</label>
										<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
										<a href="{{ forgotten }}">{{ text_forgotten }}</a> </div>
									<input type="submit" value="{{ button_login }}" class="btn btn-primary ttv-innerpage-button" /> {% if redirect %}
									<input type="hidden" name="redirect" value="{{ redirect }}" /> {% endif %}
								</form>
							</div>
						</div>
					</div>
					{{ content_bottom }}
				</div>
			</div>
			{{ column_right }}
		</div>
	</div>
</div>
{{ footer }}