/**** ttv designer css *********/
body {
    font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: normal;
	background-color: #ffffff;
	letter-spacing: 0.5px;
}

/* commn css*/
a {
	text-decoration: none
}

a:focus,
a:hover {
	color: #ff4949;
	text-decoration: none;
}
.btn {
	background-color: #222222;
}
.btn-primary:hover {
	color: #ffffff;
	background-color: #ff4949;
	border-color: transparent
}

.table-hover>tbody>tr:hover{
	background-color: transparent;
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover {
	color: #ffffff;
	background-color: #ff4949;
	border-color: #ff4949
}

.btn-outline-primary {
	color: #ff4949;
	background-image: none;
	background-color: transparent;
	border-color: #ff4949
}

a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
	color: #ff4949;
}

.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle {
	color: #ffffff;
	background-color: #ff4949;
	border-color: #ff4949
}

.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover {
	color: #ffffff;
	background-color: #ff4949;
	border-color: #ff4949
}

.btn-primary {
	color: #ffffff;
	background-color: #222222;
	border-color: transparent
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #222222;
	border-color: transparent;
}

.btn-outline-primary.active.focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.active:hover,
.btn-outline-primary:active.focus,
.btn-outline-primary:active:focus,
.btn-outline-primary:active:hover,
.open>.btn-outline-primary.dropdown-toggle.focus,
.open>.btn-outline-primary.dropdown-toggle:focus,
.open>.btn-outline-primary.dropdown-toggle:hover {
	color: #fff;
	background-color: #222222;
	border-color: #175c6a
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
	background-color: #222222;
    border-color: #222222;
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
	background-color: #222222;
    border-color: #222222;
}

.btn-info:hover {
	background-color: #222222;
    border-color: #222222;
}

.tag-primary[href]:focus,
.tag-primary[href]:hover {
	background-color: #222222
}

a.bg-primary:focus,
a.bg-primary:hover {
	background-color: #222222 !important
}

a.text-primary:focus,
a.text-primary:hover {
	color: #222222;
}

.btn-link {
	font-weight: 400;
	color: #ff4949;
	border-radius: 0
}

.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #ff4949;
	outline: 0
}

.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
	color: #ffffff;
	cursor: default;
	background-color: #ff4949
}

.card-primary {
	background-color: #ff4949;
	border-color: #ff4949
}

.card-outline-primary {
	border-color: #ff4949
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
	z-index: 2;
	color: #ffffff;
	cursor: default;
	background-color: #ff4949;
	border-color: #ff4949
}

.page-link {
	position: relative;
	float: left;
	padding: .5rem .75rem;
	margin-left: -1px;
	color: #ff4949;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd
}

.tag-primary {
	background-color: #ff4949
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
	z-index: 2;
	color: #ffffff;
	text-decoration: none;
	background-color: #ff4949;
	border-color: #ff4949
}

.bg-primary {
	background-color: #ff4949 !important
}

.text-primary {
	color: #ff4949 !important
}

.btn-unstyle:focus .expand-more {
	color: #ff4949
}

.form-control:focus,
.input-group.focus {
	outline: none;
}

.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default {
	background: #ff4949;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 0;
	font-size: .875rem;
	padding: .5rem 1rem
}

.custom-radio input[type=radio]:checked+span {
	display: block;
	background-color: #ff4949;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	left: .125rem;
	top: .125rem
}

.dropdown-item:focus,
.dropdown-item:hover {
	background: none;
	text-decoration: none;
	color: #ff4949
}

.search-widget form input[type=text]:focus {
	color: #222222;
	background: #fff
}

*::-webkit-scrollbar {
	width: 5px;
	background-color: #ddd;
}

*::-webkit-scrollbar-thumb {
	background-color: #ff4949;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.ttv-all-page-main-title-wrapper {
	text-align: center;
	padding: 15px 0;
}

#index #wrapper {
	background-color: #ffffff;
	padding-top: 0;
	padding-bottom: 0;
}

#wrapper {
	padding-top: 30px;
	background-color: #ffffff;
}

input {
	outline: none;
	padding: 0 10px;
}

.btn-default:hover {
	background-color: #ff4949;
	color: #ffffff;
}

.bootstrap-datetimepicker-widget .datepicker td.active,
.bootstrap-datetimepicker-widget .datepicker td.active:hover {
	background-color: #ff4949;
	color: #ffffff;
}

.select-title option[selected="selected"],
.select-title .js-search-link:hover {
	background-color: #ff4949;
	color: #ffffff;
}

.bootstrap-datetimepicker-widget .btn.focus,
.bootstrap-datetimepicker-widget .btn:focus,
.bootstrap-datetimepicker-widget .btn:hover {
	color: #ff4949;
}
p ,li {
	line-height: 22px;
}
.fancybox-lock .fancybox-overlay .fancybox-inner p {
    font-size: 14px;
    text-align: center;
}
.fancybox-success a {
	color: #000000;
}
.fancybox-success a:hover {
    color: #ff4949;
}
/* end comman css */
.block_newsletter .ttvnewsletter-input input[type=text]:focus {
	outline: none;
	color: #222222;
	background: #fff
}
.block_newsletter .ttvnewsletter-input input[type=text]:focus+button .search {
	color: #ff4949
}
.block_newsletter .ttvnewsletter-input button[type=submit] .search:hover {
	color: #ff4949
}
.block_newsletter .ttvnewsletter-input input[type=email]:focus {
	outline: 0
}
.pagination .current a {
	color: #ff4949;
	text-decoration: none;
	font-size: 20px;
}
.ttv-innerpage-button {
    text-transform: uppercase;
    color: #fff;
    background-color: #222222;
    border-color: #222222;
    padding: 8px 15px;
}
.ttv-innerpage-button:hover {
    color: #ffffff;
    background-color: #ff4949;
    border-color: #ff4949;
}
.ttv-full-layout {
    overflow: hidden;
}
/* header */
.ttvcms-loading-inner {
	background-color: transparent;
	padding: 30px;
}

.ttv-main-div {
	position: relative;
}

@media (min-width: 1200px) {
	.container {
		width: 1660px;
		max-width: 100%;
	}
	#header .container {
    	width: 1800px;
   	 	max-width: 100%;
	}
}

.ttvsearch-more-search:hover,
.ttvcart-product-list-checkout:hover,
.ttvcart-product-list-viewcart:hover {
	background-color: #ff4949;
	color: #ffffff;
	border: 1px solid #ff4949;
}

#header .ttvcart-product-list-checkout:hover a,
#header .ttvcart-product-list-viewcart:hover a {
	color: #ffffff;
}

.ttvsearch-dropdown-total-wrapper:hover .ttvsearch-dropdown-total {
	color: #ff4949;
}
.block-category ,
.card ,
.ttvcenter-block-product-section,
#main .ttv-sub-pages-inner-content,
.ttvcmsblog-left-side{
	border: 1px solid #eeeeee;
}
.lang-rtl .ttvbottom-to-top {
	left: 30px;
	right: auto;
}
.ttv-category-block-wrapper .ttv-category-cover img{
width: 100%;
}
/******* breadcrumb ******************/
#wrapper .breadcrumb {
    background-color: #fafafa;
    padding: 0;
}
#wrapper .breadcrumb ol {
    padding: 35px 15px;
    margin: 0;
    overflow: hidden;
}
/********* pagination *************/
.pagination .ttv-pagination-wrapper .ttv-pagination-li {
	background-color: #222222;
}
.pagination .ttv-pagination-wrapper .ttv-pagination-li a ,
.pagination .ttv-pagination-wrapper .ttv-pagination-li.active a{
	color: #ffffff;
}
.pagination .ttv-pagination-wrapper .ttv-pagination-li.active ,
.pagination .ttv-pagination-wrapper .ttv-pagination-li:hover{
	background-color: #ff4949;
}
/**************************** product page ****************************/
.ttv-wrapper-info .ttvproduct-title h1 {
	color: #222222;
}

.ttvtabs li.active a:before {
	background: #ff4949;
}

.ttv-wrapper-info .ttv-review i,
.ttvproduct-brand,
.ttvproduct-model,
.ttvproduct-reward,
.ttvproduct-stock-status {
	color: #222222;
}

.ttvproduct-details-img-block .thumbnail {
    border: 1px solid #e6e6e6;
}

.ttvproduct-button-main button:hover i,
.ttvproduct-button-main button:hover {
	color: #ff4949;
}
.ttv-additional-image {
    max-height: 140px;
}
.ttv-wrapper-info .ttvproduct-title {
	font-weight: 700;
	text-transform: uppercase;
}
.producttab .tab-content {
    line-height: 22px;
}
.ttv-wrapper-info .product-price-and-shipping .regular-price {
	margin-left: 0;
	margin-right: 15px;
}
.ttv-wrapper-info .product-price-and-shipping .price {
	line-height: 16px;
}
.ttvproduct-brand, .ttvproduct-brand:hover {
    text-decoration: underline;
}
/*********** left pannal ***********/
.ttvleft-right-title.facet-label,
.block-categories .category-top-menu>li.ttv-category-title-wrapper a {
	text-transform: uppercase;
}
 
.ttvleft-right-product-slider .ttvproduct-wrapper .ttvproduct-name {
	padding: 0;
}
.ttvleft-right-penal-all-block,
.block-categories,
.ttvcms-left-testimonial {
	border: 1px solid #eeeeee;
}
.ttvleft-right-product-slider{
	clear: both;
	overflow: hidden;
}
.ttvcmsblog-left-side .ttvblog-event-all-content-block {
    margin-bottom: 0;
}
.ttvleft-right-title-wrapper, .ttv-category-title-wrapper {
	text-align: left;
	padding: 10px 15px;
}
.ttvleft-right-title.facet-label, 
.block-categories .category-top-menu > li.ttv-category-title-wrapper a {
    text-align: left;
}
.ttvleft-right-product-slider .ttvproduct-wrapper {
	box-shadow: none;
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ttvcmsblog-left-side .ttvblog-event-inner-block {
    padding-top: 15px;
}
#products.grid .ttvproduct-view.ttvproduct-grid,
#products.grid-2 .ttvproduct-view.ttvproduct-grid-2,
#products.list .ttvproduct-view.ttvproduct-list,
#products.list-2 .ttvproduct-view.ttvproduct-list-2,
#products.catelog .ttvproduct-view.ttvproduct-catelog,
.ttvcms-left-column-wrapper .ttv-left-pannal-btn-wrapper:hover,
.ttvcmsproduct-grid-list .ttvproduct-view:hover,
.ttv_search_filter_wrapper .ttvleft-right-title-wrapper:hover {
	background-color: #ff4949;
}

.ttvleft-right-title-wrapper,
.ttv-category-title-wrapper  {
    background-color: #222222;
}

.ttvcategory-name {
    text-align: center;
    margin-top: 15px;
    color: #222222;
}
.ttvcategory-name a {
    color: #222222;
}
.ttvleft-right-product-slider .ttvproduct-wrapper .product-description {
	padding: 0 15px;
	background-color: #ffffff;
}
@media (min-width: 992px){
	.ttv-left-right-panel-hide .ttvleft-column-close-btn ,
	.ttv-left-right-panel-hide .ttvright-column-close-btn{
	    background-position: -53px -633px;
	    transform: scale(0.8);
	    -webkit-transform: scale(0.8);
	    -o-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	    -moz-transform: scale(0.8);
	    top: -5px;
	}
}
@media (max-width: 991px) {
	#index .ttvcmsblog-event {
		padding: 0;
		margin-bottom: 30px;
	}
	.ttvleft-right-product-slider{
		float: left;
	}
}
.blog_post_content p.meta_author,
.blog_post_content p.meta_date ,
.blog_post_content p.meta_category{
	color: #222222;
}
.kr_blog_post_area .ttvblog_post .post_content .post_meta > p span,
.blog_post_content p.meta_author span {
	color: #888888;
}
.ttvproduct-wrapper .btn-primary:active:focus, .ttvproduct-wrapper .btn-primary:active:hover{
	color: #ffffff;
    background-color: #222222;
}
/********start newsletter popup********************/
.ttvcmsNewsLetterPopup-i{
	height: auto;
}
.ttvcmsnewsletterpopup{
	position: relative;
}
.ttvcmsnewsletterpopup:before{
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 55px 0 0 55px;
    border-color: #dad6d69c transparent transparent transparent;
    right: 0;
    z-index: 0;
}
.ttvcmsnewsletterpopup .ttvnewslatter-popup-img-wrapper{
	width: 100%;
}
.ttvcmsnewsletterpopup .ttvnewslatter-popup-img-wrapper img{
	height: auto;
	position: relative;
	z-index: 2;
}
#newsletter_block_popup{
    width: 100%;
    background-color: rgba(23, 200, 130, 0.0392156862745098);
    padding: 40px 10px;
}
.ttvcmsnewsletterpopup{
	display: block;
	border: 5px solid #c3c1c19e;
	background-color: #ffffff;
}
.ttvcmsnewsletterpopup #newsletter_block_popup {
    display: block;
    padding: 30px 10px;
}
#newsletter_block_popup .block_content .newsletter_title h3 {
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #ffffffb3;
    font: 600 26px/normal 'Lato', sans-serif;
}
#newsletter_block_popup .block_content .ttvcmsnewsletterpopupContent {
    letter-spacing: 1.2px;
    font: 500 14px/25px 'Lato', sans-serif;
}
#newsletter_block_popup .block_content .inputNew{
    height: 32px;
    margin-bottom: 15px;
    width: 70%;
}
.ttvnewsletterpopup-input{
	display: block;
}
#newsletter_block_popup .block_content .send-reqest{
    display: inline-block;
    height: 32px;
    padding: 0 20px;
    line-height: 32px;
    letter-spacing: 1px;
    margin-bottom: 0;
    background: #888888;
}
#newsletter_block_popup .block_content .send-reqest:hover {
    background-color: #222222;
    color: #FFF;
}
.ttvnewsletter-popup-wrapper-btn{
    margin: 0 auto;
    margin-bottom: 15px;
}
#newsletter_block_popup .ttvnewsletter-popup-wrapper-btn .ttvnewsletter-popup-wrapper{
    float: left;
    width: 60%;
    margin: 0;
}
.ttvnewsletter-social-icon {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}
.ttvnewsletter-social-icon li span{
	background: #fff;
    border: 1px solid #eee;
    margin: 3px;
}
#newsletter_block_popup .ttvnewsletter-popup-wrapper .ttvnewsletter-popup-img-wrapper,
#newsletter_block_popup .ttvnewsletter-popup-wrapper .ttvnewsletter-popup-input-wrapper
{
	display: block;
}
#newsletter_block_popup .ttvnewsletter-popup-wrapper .ttvnewsletter-popup-img-wrapper img{
	border: 2px solid #eee;
    height: 32px;	
}
#newsletter_block_popup .ttvnewsletter-popup-wrapper .ttvnewsletter-popup-input-wrapper input{
	height: 32px;
	line-height: 14px;
}
#newsletter_block_popup .newsletter_block_popup-bottom .ttvcmsnewsletterpopup_newsletter_dont_show_again{
    letter-spacing: 2px;
    color: #ababab;
    font-size: 12px;
}
.ttvnewsletter-social-icon ul{
	display: block;
	margin-bottom: 20px;
}
.ttvnewsletter-social-icon ul li{
	float: left;
}
.ttvcmsNewsLetterPopup-i .ttvnewsletterpopup-button-icon {
    background-position: -53px -633px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
}
@media(max-width: 767px){
	.ttvcmsNewsLetterPopup-i{
		height: auto;
	}
	#newsletter_block_popup .block_content .newsletter_title{
		top: 10%;
	}
}
@media(max-width: 575px){
	.ttvnewsletter-social-icon li span{
		width: 40px;
		height: 40px;
	}
	#newsletter_block_popup .block_content .newsletter_title{
		top: 0;
	}
	#newsletter_block_popup .block_content .newsletter_title h3{
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0.5px;
	}
	#newsletter_block_popup .block_content .ttvcmsnewsletterpopupContent{
		font-size: 12px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 0.5px;
	}
	#newsletter_block_popup .ttvnewsletter-popup-wrapper-btn .ttvnewsletter-popup-wrapper{
		float: none;
		width: 100%;
		margin: 0 auto 10px auto;
	}
	.ttvnewsletter-popup-wrapper-btn{
		width: 100%;
	}
	#newsletter_block_popup .ttvnewsletter-popup-wrapper-btn .ttvnewsletter-email-btn{
		width: auto;
		margin: auto;
		float: none;
	}
	#newsletter_block_popup .block_content .send-reqest{
		display: inline-block;
		float: none;
	}
	#newsletter_block_popup .newsletter_block_popup-bottom .ttvcmsnewsletterpopup_newsletter_dont_show_again{
		letter-spacing: 1px;
	}
}

.lang-rtl #newsletter_block_popup .ttvnewsletter-popup-wrapper .ttvnewsletter-popup-img-wrapper{
	margin-left: 10px;
}
/**********end newsletter popup****************/
/******************* theme control *********************/
.ttvcmstheme-control{
	top: 170px;
}
.box input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
	display: none;
}

.box label {
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	    height: 33px;
	background: #bbbbbb;
	display: block;
	border-radius: 3px;
	padding: 4px;
	position: relative;
}

.box label:after {
	content: '';
    position: absolute;
    left: 4px;
    right: auto;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 100%;
    -webkit-transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
    -moz-transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
    -ms-transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
    -o-transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
    transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
}

.box input:checked + label {
	background: #ff4949;
}

.box input:checked + label:after {
	left: 94%;
	-webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.box label:active:after {
width: 45px;
}
.tvcmstheme-control .tvtheme-option{
border: none;
margin: 0 auto;
}
.ttvcmstheme-control .ttvtheme-control-icon i{
    font-size: 0;
    height: 35px;
    width: 35px;
    background: url(../img/sprite.png);
    background-position: -158px -635px;
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
}

.ttvcmstheme-control .ttvtheme-control-icon{
    background-color: #222222;
    border-radius: 0;
    box-shadow:-1px 1px 3px 0px rgba(0, 0, 0, 0.12)	;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ttvcmstheme-control .ttvtheme-control-icon:hover{
    background-color: #ff4949;
}
.ttvcmstheme-control .ttvtheme-control-wrapper {
    width: 300px;
    padding: 15px 15px;
    border-radius: 0;
    background-color: #f0f0f2;
    text-align: center;
    transition: all 600ms ease 0s;
    -webkit-transition: all 600ms ease 0s;
    -moz-transition: all 600ms ease 0s;
    -ms-transition: all 600ms ease 0s;
    -o-transition: all 600ms ease 0s;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.ttvtheme-control-wrapper .ttvtheme-all-pattern .ttvtheme-pattern-image {
    border-radius: 0;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.20);
}
.ttvtheme-control-title-name-reset-btn p {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 600;
}
.ttvtheme-control-wrapper .ttvtheme-control-reset {
    background-color: #222222;
    padding: 5px 20px;
    margin-top: 15px;
    letter-spacing: 2px;
}
.ttvtheme-control-wrapper .toggle.btn {
    min-width: 70px;
    min-height: 30px;
}
.ttvtheme-control-wrapper .ttvtheme-option .toggle-off.btn {
    padding: 6px 0 6px 20px;
}
.ttvtheme-control-wrapper .ttvtheme-option .toggle-on.btn {
    padding: 6px 20px 6px 0px;
}
.ttvtheme-control-wrapper td {
    padding: 15px;
    background: #fff;
    border-top: 5px solid #f0f0f2;
}
.ttvtheme-control-wrapper .ttvselect-theme-name,
.ttvtheme-control-wrapper .ttvcolor-theme-name, 
.ttvtheme-control-wrapper .ttvtheme-layout-name, 
.ttvtheme-control-wrapper .ttvtheme-animation-name,
.ttvtheme-control-wrapper .ttvtheme-page-loader-name, 
.ttvtheme-control-wrapper .ttvtheme-left-sticky-name, 
.ttvtheme-control-wrapper .ttvtheme-right-sticky-name, 
.ttvtheme-control-wrapper .ttvtheme-menu-sticky-name, 
.ttvtheme-control-wrapper .ttvbgcolor-theme-name,
.ttvtheme-control-wrapper .ttvtheme-background-pattern-name {
    font-size: 14px;
    float: left;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.ttvtheme-control-wrapper .ttvselect-theme-name,
.ttvtheme-control-wrapper .ttvcolor-theme-name,
.ttvtheme-control-wrapper .ttvbgcolor-theme-name {
	padding-top: 5px;
}
.ttvtheme-control-wrapper .ttvtheme-layout-name,
.ttvtheme-control-wrapper .ttvtheme-animation-name,
.ttvtheme-control-wrapper .ttvtheme-animation-name,
.ttvtheme-control-wrapper .ttvtheme-page-loader-name, 
.ttvtheme-control-wrapper .ttvtheme-left-sticky-name, 
.ttvtheme-control-wrapper .ttvtheme-right-sticky-name, 
.ttvtheme-control-wrapper .ttvtheme-menu-sticky-name{
	padding-top: 8px;
}
.ttvtheme-control-wrapper .ttvtheme-background-color .ttvbgcolor-theme-name{
	float: none;
	margin: 0 0 10px 0;
	padding: 0;
}
.ttvtheme-control-wrapper .ttvcolor-theme-name, 
.ttvtheme-control-wrapper .ttvtheme-background-pattern-name {
	float: none;
	margin: 0 0 10px 0;
	padding: 0;
}
.ttvtheme-control-title-name-reset-btn {
    border-bottom: 1px solid #eeeeee;
}
.ttvcmstheme-control .ttvtheme-control-wrapper .ttvselect-theme select,
.ttvcmstheme-control .ttvtheme-option {
	float: right;
}
.ttvtheme-control-wrapper .ttvtheme-option .btn-default {
	background-color: #222222;
    color: #ffffff;
    width: 106px;
}
.ttvcmstheme-control .ttvtheme-option {
    border: none; 
    margin: 0;
    border-radius: 25px;
}
.ttvtheme-control-wrapper .ttvtheme-option .btn-primary {
	background-color: #ff4949;
}
.ttvtheme-control-wrapper .ttvtheme-option .toggle-handle {
	background-color: #ffffff;
}
.ttvtheme-control-wrapper .ttvtheme-control-reset:hover {
    background-color: #ff4949;
}
.ttvcmstheme-control .ttvtheme-control-wrapper .ttvselect-theme select {
	background-color: #222222;
    color: #ffffff;
    width: 130px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.ttvcmstheme-control .ttvtheme-control-wrapper .ttvselect-theme select option {
	background-color: #ffffff;
	color: #222222;
}
.ttvcmstheme-control .ttvtheme-control-wrapper .ttvselect-theme select option:hover {
	background-color: #ff4949;
	color: #ffffff;
}
.ttvtheme-control-wrapper .ttvall-theme-content {
	text-align: center;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    overflow: visible;
}

.ttvtheme-control-wrapper .ttvtheme-all-pattern-wrapper {
    width: 162px;
    margin: auto;
    overflow: hidden;
    clear: both;
}
.ttvtheme-control-wrapper .ttvtheme-color-box {
    float: none;
}
.ttvtheme-control-wrapper .ttvtheme-bgcolor-box input,
.ttvtheme-control-wrapper .ttvtheme-color-box input {
    height: 28px;
    padding: 0 0 0 32px;
    width: 100px;
}
/********* end theme control *************/
/********slider********/
.ttvcmsmain-slider-wrapper{
	margin-bottom: 80px;
}
.ttvcms-main-slider .ttv-main-slider{
	background-color: #2e3231;
}
#ttvmain-slider .ttvmain-slider-contant-center{
	text-align: center;
}
.ttvmain-slider-contant .ttvmain-slider-title {
    font-size: 18px;
    color: #222222;
    font-weight: 500;
    text-shadow: none;
    margin: 30px 0 27px 92px;
    width: 100px;
    text-transform: capitalize;
    line-height: 26px;
    position: relative;
}
.ttvmain-slider-contant .ttvmain-slider-title:before {
    position: absolute;
    content: "";
    left: -80px;
    top: 50%;
    max-width: 80px;
    width: 100%;
    height: 2px;
    background-color: #ff4a49;
    display: block;
}
.ttvmain-slider-contant .ttvmain-slider-info h2 {
	font-size: 99px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color: #222222;
    font-weight: 600;
    text-shadow: none;
    font-family: 'Poppins', sans-serif;
}
.ttvmain-slider-contant .ttvmain-slider-info p {
	font-size: 41px;
    color: #222222;
    font-weight: 500;
    margin-bottom: 94px;
    text-shadow: none;
    text-transform: capitalize;
}
.ttvmain-slider-contant.ttvmain-slider-contant-right{
	right: 9.5%;
}
.ttvmain-slider-contant.ttvmain-slider-contant-center{
	text-align: center;
}
.ttvmain-slider-contant.ttvmain-slider-contant-left{
	left: 9.5%;
}
.ttvmain-slider-btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.ttvmain-slider-contant.ttvmain-slider-contant-center {
    text-align: center;
}
.ttvmain-slider-contant .ttvmain-slider-button{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    line-height: 45px;
    padding: 0 20px;
    border: none;
    background: #ff4a49;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
}
.ttvmain-slider-contant .ttvmain-slider-button:hover{
	background-color: #222222;
	color: #ffffff;
}
@media (max-width: 1440px) {
	.ttvmain-slider-contant .ttvmain-slider-title {
	    font-size: 16px;    
		margin: 20px 0 10px 80px;
	}
	.ttvmain-slider-contant .ttvmain-slider-info h2 {
    	font-size: 77px;
    	margin-bottom: 22px;
	}
	.ttvmain-slider-contant .ttvmain-slider-info p {
	    font-size: 30px;
	    margin-bottom: 65px;
	}
	.ttvmain-slider-contant .ttvmain-slider-button {
		font-size: 14px;
	    line-height: 36px;
	}
}
@media (max-width: 1199px) {
	.ttvmain-slider-contant .ttvmain-slider-title {
	    font-size: 13px;
	    margin: 15px 0 15px 80px;
	    line-height: normal;
	}
	.ttvmain-slider-contant .ttvmain-slider-info h2 {
    	font-size: 64px;
    	margin-bottom: 16px;
	}
	.ttvmain-slider-contant .ttvmain-slider-info p {
	    font-size: 25px;
	    margin-bottom: 50px;
	}
	.ttvmain-slider-contant .ttvmain-slider-button {
		font-size: 12px;
	}
}
@media (max-width: 991px) {
	.ttvmain-slider-contant .ttvmain-slider-title {
	    margin: 15px 0 0 50px;
	}
	.ttvmain-slider-contant .ttvmain-slider-title:before {
		max-width: 50px;
		left: -50px;
	}
	.ttvmain-slider-contant .ttvmain-slider-info h2 {
    	margin-bottom: 0;
	}
	.ttvmain-slider-contant .ttvmain-slider-info p {
	    font-size: 23px;
	    margin-bottom: 30px;
	}
}	
@media (max-width: 767px) {
	.ttvmain-slider-contant .ttvmain-slider-button {
    	font-size: 10px;
    	line-height: 28px;
	}
	.ttvmain-slider-contant .ttvmain-slider-info p {
		font-size: 16px;
	}
	.ttvmain-slider-contant .ttvmain-slider-info h2 {
		font-size: 40px;
	}
	.ttvmain-slider-contant .ttvmain-slider-title {
		margin: 0 0 0 50px;
	}
}
@media(max-width: 575px){
	.ttvmain-slider-contant .ttvmain-slider-info p {
		margin-bottom: 10px;
		font-size: 12px;
	}
	.ttvmain-slider-contant .ttvmain-slider-info h2 {
    	font-size: 20px;
	}
	.ttvmain-slider-contant .ttvmain-slider-title {
		line-height: 13px;
	}
}
@media(max-width: 425px){	
	
}
/*************end slider*************/
/********************************************** single block *********************************/
.ttvcmssingle-block{
    margin-bottom: 80px;
}
.ttvsingle-block-info-box .ttvsingle-block-title{
    font-size: 35px;
    color: #222222;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}
.ttvsingle-block-info-box .ttvsingle-block-desc{
    font-size: 14px;
    color: #888888;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
    display: block;
}
.ttvsingle-block-info-box .ttvsingle-bolck-btn-link{
    background-color: #ff4949;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
}
.ttvsingle-block-info-box .ttvsingle-bolck-btn-link:hover{
    background-color: #222222;
}
.ttvsingle-bolck-btn-link i{
    font-size: 14px;
    margin: 0 0 0 5px;
}
.ttvsingle-block-image-info-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*************** media single block *************/
@media(min-width: 992px){
    .ttv-single-block-image-2{
        position: relative;
        overflow: hidden;
    }
    .ttv-single-block-image-2:after{
        position: absolute;
        content: "";
        width: 65%;
        height: 72%;
        background-color: rgba(255,255,255,0.4);
        bottom: 0;
        right: -65%;
        transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
    }
    .ttv-single-block-image:hover .ttv-single-block-image-2:after{
        right: 0;
        transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
    }
    .ttv-single-block-image-2:before{
        position: absolute;
        content: "";
        width: 36%;
        height: 66%;
        background-color: rgba(255,255,255,0.4);
        bottom: 0;
        top: -65%;
        transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
    }
    .ttv-single-block-image:hover .ttv-single-block-image-2:before{
        top: 0;
        transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
    }
}
@media(max-width: 991px){
    .ttvcmssingle-block{
        margin-bottom: 30px;
    }   
    .ttvsingle-block-info-box .ttvsingle-block-title{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .ttvsingle-block-info-box .ttvsingle-block-desc{
        font-size: 13px;
        margin-bottom: 25px;
    }
    .ttvsingle-block-info-box .ttvsingle-bolck-btn-link{
        font-size: 13px;
        padding: 8px 15px;
    }
    .ttvsingle-bolck-btn-link i{
        font-size: 14px;
    }
}
@media(max-width: 767px){
    .ttvsingle-block-info-box{
        margin-bottom: 20px;
    }
    .ttvsingle-block-image-info-wrapper{
        display: block;
    }
}
/*************** single block Rtl ************/
.lang-rtl .ttvsingle-block-image-info-wrapper{
    direction: ltr;
}
/***************************************************** end single block ************************************************/
/***************** blog **********/
.pagination .page-list{
	background-color: transparent;
	box-shadow: none;
	text-align: right;
	padding: 0;
}
.ttvcmsblog-event .ttvblog-event-all-content-block.ttvblog-even .ttvblog-img-block:after,
.ttvcmsblog-event .ttvblog-event-all-content-block.ttvblog-odd .ttvblog-img-block:after {
	display: none;
}
.ttvnews-event-content-wrapper {
    text-align: center;
    padding: 20px 15px;
}
.ttvnews-event-content-wrapper .ttvdate-time {
    
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ttvblog-event-inner-block {
	padding-top: 0; 
}
.ttvnews-event-content-wrapper .ttvnews-event-titel a,
.kr_blog_post_area .ttvblog_post .post_content .post_title a {
	color: #222222;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0;
}
.ttvnews-event-content-wrapper .ttvnews-event-titel a h5{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    line-height: normal;
    font-size: 20px;
    font-weight: 600;
    color: #222222;	
}
.ttvblog-event-all-content-block .ttvnews-event-titel a:hover,
.ttvblog-event-all-content-block .ttvnews-event-titel a h5:hover {
	color: #888888;
}
.ttvnews-event-description,
.kr_blog_post_area .ttvblog_post .post_content .post_description p {
    color: #888888;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 0px;
}
.ttvcmsblog-event-home .ttvnews-event-description {
    -webkit-line-clamp: 2;
}
.ttvnews-event-content-wrapper .ttvnews-event-read-more a {
    border: none; 
    color: #ff4949;
    display: inline-block;
    line-height: 24px;
    padding: 0;
    text-decoration: underline;
    letter-spacing: 0.3px;
}
.ttvnews-event-content-wrapper .ttvnews-event-titel{
	margin-bottom: 5px;
}
.ttvnews-event-content-wrapper .ttvnews-event-read-more a i {
	line-height: 20px;
	display: none;
}
.ttvblog-event-all-content-block:hover .ttvnews-event-read-more a {
    background-color: transparent;
    color: #696969;
}
.ttvnews-event-content-wrapper .ttvblog-date-username{
	margin-bottom: 15px;
}
.ttvnews-event-content-wrapper .ttvdate-time > p{
	margin: 0 5px;
    color: #333;
    font-size: 13px;
    font-weight: 400;
}
.ttvnews-wrapper-info-box {
	background-color: transparent;
	padding: 0;
}
.ttvblog-event-all-content-block {
    padding: 0 15px;
}
.ttvblog-event-all-content-block .ttvblog-img-block .ttvblog-content-img {
	height: 290px;
	position: relative;
	overflow: hidden;

}
.ttvblog-event-all-content-block .ttvblog-img-block{
	overflow: hidden;
}
.ttvblog-event-all-content-block .ttvnews-event-buttons i,
.blog_post_content:hover .ttvnews-event-buttons i,
.blog_post_content .ttvnews-event-hoverbtn .ttvnews-event-buttons i,
.blog_post_content .ttvnews-event-hoverbtn .ttvnews-event-buttons:hover i{
	color: #fff;
	font-size: 22px;
	width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
  	border: none;
  	border: 1px solid #ffffff;
    border-radius: 25px;
}	
.meta-author.ttvnews-event-username {
	display: inline-block;
    margin-right: 15px;
    position: relative;
}
.ttv-author-comment{
	display: inline-block;
}
.meta-author.ttvnews-event-username:after {
	position: absolute;
    content: "";
    height: 13px;
    width: 1px;
    background: #dddddd;
    top: 3px;
    right: -8px;
}
.ttvblog-date-username .ttvday-time p,
.ttvblog-date-username .hrxyear-time p,
.ttvblog-date-username .ttvmonth-time p {
    font-size: 13px;
    color: #222222;
 	font-weight: 500;
    margin-bottom: 0;
    line-height: 15px;
}
.ttvblog-date-username .ttvmonth-time p{
 
 	padding: 0 5px;
}
.ttvblob-all-submit-btn .ttvcmsblog_submit_btn:hover {
	background-color: #ff4949;
	color: #ffffff;
}
.ttv-total-product{
	margin: 10px 0 10px 15px;
}
.ttvblog-date-username .ttvdate-time i{
	font-size: 15px;
	color: #999;
	margin-right: 8px;
}
#module-ttvcmsblog-archive .pagination .page-list.ttvinner-page-pagination{
	text-align: center;
}
.ttvblog-event-all-content-block .ttvblog-img-block .ttvblog-content-img:after{
	content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgba(34, 34, 34, 0.6);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
}
.ttvblog-event-all-content-block:hover .ttvblog-img-block .ttvblog-content-img:after {
    opacity: 1;
}
#module-ttvcmsblog-archive .ttvinner-page-pagination-wrapper {
    padding: 10px;
    border: 1px solid #eee;
}
#module-ttvcmsblog-archive #content{
	border: none;
}
.kr_blog_post_inner.products, #module-ttvcmsblog-archive .ttvpage-header-title-wrapper, .ttvall-page-top-title{
	border: 1px solid #eeeeee;
}
.ttvcmsblog-left-side .ttvblog-event-inner-block {
	padding-top: 15px; 
}
.ttvcmsblog-left-side .ttvblog-event-all-content-block {
    margin-bottom: 0;
}
.ttvcms-blog-left-side-pagination-wrapper {
	height: 50px;
}
.ttvcmsblog-event {
	margin-bottom: 80px;
}
/****************** blog media ****************/
@media screen and (min--moz-device-pixel-ratio:0) {
	.ttvnews-event-description,
	.kr_blog_post_area .ttvblog_post .post_content .post_description p {
	    height: calc(3rem / 1.1);
	    text-overflow: ellipsis;
	}
}
@media(max-width: 991px){
	.ttvblog-event-all-content-block,
	#index .ttvcmsblog-event{
		margin-bottom: 30px;

	}
	.ttvblog-event-all-content-block .ttvblog-img-content-wrapper{
		border: 1px solid #eeeeee;
	}
	.ttvblog-event-all-content-block:last-child {
	    margin-bottom: 0;
	}
}

@media (max-width: 575px){
	.ttvblog-event-all-content-block:last-child{
		margin-bottom: 30px;
	}
}
/****************** blog rtl ****************/

.lang-rtl .ttvnews-event-content-wrapper .ttvblog-date-username,
.lang-rtl .blog_post_content .post_content
{
	direction: rtl;
}
.lang-rtl .ttvblog-date-username .ttvdate-time i{
	margin-left: 5px;
	margin-right: 0;
}
@media (min-width: 768px){
	.lang-rtl#module-ttvcmsblog-archive .ttvinner-page-pagination-wrapper .ttvinner-page-showing-item {
    text-align: right;
	}
}
/***************** end blog **********/

/*********** brand -***********/
.ttvcmsbrandlist-slider {
	margin-bottom: 80px;
}
.owl-carousel .owl-item .ttvbrandlist-slider-wrapper-info img{
	opacity: 1;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.owl-carousel .owl-item .ttvbrandlist-slider-wrapper-info:hover img{
	opacity: 0.5;
}
.ttvcmsbrandlist-slider .ttvcmsbrandlist-slider-main-title-wrapper {
	display: none;
}
@media (max-width: 991px){
	.ttvcmsbrandlist-slider {
		margin-bottom: 30px;
	}
}
/*********** end brand -***********/
/********************************** category slider *******************************************************/
.ttvcategory-slider-inner-info-box {
    position: relative;
}
.ttvcmscategory-slider{
    margin-bottom: 80px;
}
.ttvcategory-img-block{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 7px solid #eeeeee;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.ttvcategory-slider-info-box{
    position: absolute;
    bottom: 60px;
    left: 15px;
}
.ttvcategory-slider-info-box .ttvcategory-slider-title{
    text-align: center;
    font-size: 20px;
    color: #222222;
    font-weight: 500;
    background-color: #eeeeee;
    padding: 10px 30px;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.ttvcategory-slider-wrapper-info {
    padding: 0 15px;
    position: relative;
}
@media(min-width: 992px){
    .ttvcategory-slider-wrapper-info:hover .ttvcategory-slider-info-box .ttvcategory-slider-title{
        background-color: #ffffff;
        color: #ff4949;
    }
    .ttvcategory-slider-wrapper-info:hover .ttvcategory-img-block{
        border-radius: 0 25px 0 25px;
    }
}
/**************** mobile category slider ***************************/
@media(max-width: 991px){
    .ttvcmscategory-slider{
        margin-bottom: 30px;
    }
    .ttvcategory-slider-info-box .ttvcategory-slider-title{
        font-size: 16px;
    }
    .ttvcategory-slider-info-box {
        bottom: 30px;
    }
}
@media(max-width: 575px){
	.ttvcategory-slider-pagination {
    	margin-top: 10px;
	}
}
/**************** rtl category slider ***************************/
.lang-rtl .ttvcategory-slider-info-box{
    right: 15px;
    left: auto;
}
.lang-rtl .ttvcategory-slider-info-box .ttvcategory-slider-title{
    border-radius: 5px 0 0 5px;
}
/********************************************** end category slider *********************************************************/
/************************* start two banner  ************************/
.ttvcmsofferbanners-two{
	margin-bottom: 80px;
}
.ttvtwobanner-title-text-1 {
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	color: #997658;
	background-color: #ffffff;
    padding: 1px 15px;
}
.ttvtwobanner-content {
	position: absolute;    
    left: 10%;
    z-index: 9;
    width: 80%;
    bottom: 40px;
}
.ttvcmsofferbanners-two .ttvtwobanner-content-wrapper {
    display: inline-block;
    text-align: center;
}
.ttvtwobanner-subtitle-1 {
	font-size: 40px;
	color: #222222;
	font-weight: 600;
	margin-top: 7px;
    margin-bottom: 7px;
}
.ttvtwobanner-button-1 {
	background-color: transparent;
	font-size: 16px;
	color: #222222;
	padding: 0;
	position: relative;
	display: inline-block;
}
.ttvtwobanner-button-1:hover {
	background-color: transparent;
}
.ttvbanner1 .ttvtwobanner-button:after{
	content: '';
    background-image: url(../img/sprite.png);
    background-position: -16px -414px;
    position: absolute;
    top: 0;
    right: -28px;
    display: block;
    height: 25px;
    width: 25px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.ttvbanner1 .ttvtwobanner-button:hover:after{
	right: -31px;
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.ttvbanner2 .ttvtwobanner-content {
	top: 30px;
	bottom: auto;
}
.ttvtwobanner-title-text-2 {
	font-size: 30px;
	color: #222222;
	text-transform: capitalize;
}
.ttvtwobanner-subtitle-2 {
	font-size: 18px;
	color: #8b6138;
	font-weight: 500;
	margin-top: 10px;
    margin-bottom: 25px;
}
.ttvtwobanner-button-2 {
	background-color: #222222;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 28px;
    text-transform: capitalize;
    display: inline-block;
}
.ttvtwobanner-all-img {
	margin: 0 -15px;
}
.ttvbanner-hover-wrapper {
    display: inline-block;
}
@media (min-width: 992px) {
	.ttvcmsofferbanners-two .ttvbanner-hover-wrapper {
		position: relative;
    	overflow: hidden;
	}
	.ttvcmsofferbanners-two .ttvbanner-hover-wrapper:before {
		position: absolute;
	    content: "";
	    width: 50%;
	    height: 50%;
	    background-color: rgba(255,255,255,0.1);
	    bottom: -50%;
	    left: 0;
	    z-index: 10;
	    transition: all 0.5s ease-in-out 0s;
	    -webkit-transition: all 0.5s ease-in-out 0s;
	    -moz-transition: all 0.5s ease-in-out 0s;
	    -ms-transition: all 0.5s ease-in-out 0s;
	    -o-transition: all 0.5s ease-in-out 0s;
	} 
	.ttvcmsofferbanners-two .ttvbanner-hover-wrapper:after {
		position: absolute;
	    content: "";
	    width: 50%;
	    height: 50%;
	    background-color: rgba(255,255,255,0.1);
	    top: -50%;
	    right: 0;
	    z-index: 10;
	    transition: all 0.5s ease-in-out 0s;
	    -webkit-transition: all 0.5s ease-in-out 0s;
	    -moz-transition: all 0.5s ease-in-out 0s;
	    -ms-transition: all 0.5s ease-in-out 0s;
	    -o-transition: all 0.5s ease-in-out 0s;
	} 
	.ttvcmsofferbanners-two .ttvtwobanner-image-wrapper:before {
		position: absolute;
	    content: "";
	    width: 50%;
	    height: 50%;
	    background-color: rgba(255,255,255,0.4);
	    bottom: 0;
	    right: -50%;
	    transition: all 0.5s ease-in-out 0s;
	    -webkit-transition: all 0.5s ease-in-out 0s;
	    -moz-transition: all 0.5s ease-in-out 0s;
	    -ms-transition: all 0.5s ease-in-out 0s;
	    -o-transition: all 0.5s ease-in-out 0s;
	}
	.ttvcmsofferbanners-two .ttvtwobanner-image-wrapper:after {
		position: absolute;
	    content: "";
	    width: 50%;
	    height: 50%;
	    background-color: rgba(255,255,255,0.4);
	    top: 0;
	    left: -50%;
	    transition: all 0.5s ease-in-out 0s;
	    -webkit-transition: all 0.5s ease-in-out 0s;
	    -moz-transition: all 0.5s ease-in-out 0s;
	    -ms-transition: all 0.5s ease-in-out 0s;
	    -o-transition: all 0.5s ease-in-out 0s;
	}
	.ttvbanner-wrapper:hover .ttvbanner-hover-wrapper:before {
	    bottom: 0;
	    transition: all 0.5s ease-in-out 0s;
	    -webkit-transition: all 0.5s ease-in-out 0s;
	    -moz-transition: all 0.5s ease-in-out 0s;
	    -ms-transition: all 0.5s ease-in-out 0s;
	    -o-transition: all 0.5s ease-in-out 0s;
	}
	.ttvbanner-wrapper:hover .ttvbanner-hover-wrapper:after {
	    top: 0;
	    transition: all 0.5s ease-in-out 0s;
	    -webkit-transition: all 0.5s ease-in-out 0s;
	    -moz-transition: all 0.5s ease-in-out 0s;
	    -ms-transition: all 0.5s ease-in-out 0s;
	    -o-transition: all 0.5s ease-in-out 0s;
	}
	.ttvbanner-wrapper:hover .ttvtwobanner-image-wrapper:before{
		right: 0;
	    transition: all 0.5s ease-in-out 0s;
	    -webkit-transition: all 0.5s ease-in-out 0s;
	    -moz-transition: all 0.5s ease-in-out 0s;
	    -ms-transition: all 0.5s ease-in-out 0s;
	    -o-transition: all 0.5s ease-in-out 0s;
	}
	.ttvbanner-wrapper:hover .ttvtwobanner-image-wrapper:after{
		left: 0;
	    transition: all 0.5s ease-in-out 0s;
	    -webkit-transition: all 0.5s ease-in-out 0s;
	    -moz-transition: all 0.5s ease-in-out 0s;
	    -ms-transition: all 0.5s ease-in-out 0s;
	    -o-transition: all 0.5s ease-in-out 0s;
	}
}
@media (max-width: 767px) {
	.ttvbanner-wrapper  .ttvtwobanner-image-wrapper img {
		margin: 0 auto;
	}
	.ttvbanner-content  .ttvbanner-wrapper {
		text-align: center;
	}
}
@media (max-width: 575px) {
	.ttvtwobanner-subtitle-1 {
		font-size: 30px;
    	margin: 0;
	}
	.ttvtwobanner-title-text-2 {
		font-size: 20px;
	}
	.ttvtwobanner-subtitle-2 {
		font-size: 15px;
	}
}
/*************************** end two banner **********************/
/*****************************************************  ttv Service **************************************************************/
.ttvcmscustomer-services {
    background-color: #fafafa;
    margin-bottom: 80px;
    padding: 55px 0;
}

.ttvservice-all-block-image {
    overflow: hidden;
    position: relative;
}

.ttvservices-center .ttvservices-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    border: none;
    background-color: transparent;
}

.ttvservice-inner .ttvservices-content-box .ttvservices-title:hover{
    cursor: pointer;
}
.ttvcustomer-services .ttvcmsmain-title-wrapper {
    margin-bottom: 27px;
}
.ttvcmscustomer-services .ttvservices-img {
    text-align: center;
    position: relative;
    border-radius: 0;
    background-color: transparent;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    transition: all 0.6s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s; 
}
.ttvcmscustomer-services .ttvservices-1 .ttvservices-img{
    background-image: url(../img/Servies-Image.png);
    background-position: 4px 4px;
}

.ttvcmscustomer-services .ttvservices-2 .ttvservices-img{
    background-image: url(../img/Servies-Image.png);
    background-position: -45px 4px;
}

.ttvcmscustomer-services .ttvservices-3 .ttvservices-img{
    background-image: url(../img/Servies-Image.png);
    background-position: -95px 4px;
}

.ttvcmscustomer-services .ttvservices-4 .ttvservices-img{
    background-image: url(../img/Servies-Image.png);
    background-position: -145px 4px;
}

.ttvcmscustomer-services .ttvservices-img i{
    display: none;
}
.ttvcmscustomer-services .ttvservices-img-conut {
    margin: 0 20px 0 0;
}
.ttvcmscustomer-services .ttvservice-day-return,
.ttvcmscustomer-services .ttvservice-customer-service {
    margin-bottom: 0;
}
.ttvservices-content-box .ttvservices-title {
    margin: 0;
    font-size: 16px;
    color: #222222;
    font-weight: 600;
    line-height: 18px;
 
}
.ttvservices-content-box .ttvservice-dec{
    color: #888888;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 400;
    font-style: italic;
}

.ttvservices-all-block.card-deck{
    border-spacing: 0;
}
.ttvservices-center.card{
    text-align: left;
    padding: 0 15px;
    background-color: transparent;
}
/************************ media service ***************************/
@media(max-width: 1024px){
    .ttvservices-center.odd:last-child{
        overflow: hidden;
        display: block;
    }
}
@media(min-width: 992px){
    .ttvcmscustomer-services .ttvservices-1:hover .ttvservices-img{
        background-position: 4px -46px;
        background-color: #ff4949;
        border: 1px solid #ff4949;
        border-radius: 0 15px 0 15px;
        transition: all 0.6s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s; 
    }
    .ttvcmscustomer-services .ttvservices-2:hover .ttvservices-img{
        background-position: -45px -46px;
        background-color: #ff4949;
        border: 1px solid #ff4949;
        border-radius: 0 15px 0 15px;
        transition: all 0.6s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s; 
    }
    .ttvcmscustomer-services .ttvservices-3:hover .ttvservices-img{
        background-position: -95px -46px;
        background-color: #ff4949;
        border-radius: 0 15px 0 15px;
        border: 1px solid #ff4949;
        transition: all 0.6s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s; 
    }
    .ttvcmscustomer-services .ttvservices-4:hover .ttvservices-img{
        background-position: -145px -46px;
        background-color: #ff4949;
        border: 1px solid #ff4949;
        border-radius: 0 15px 0 15px;
        transition: all 0.6s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s; 
    }

}
@media (max-width: 991px) {
    .ttvcmscustomer-services {
        margin-bottom: 30px;
        padding: 30px 0;
    }   
}
@media  (max-width: 767px) {
    .ttvservice-all-block-wrapper {
        display: block;
    }
    .ttvcmscustomer-services .ttvservice-day-return{
        clear: both;
    }
    
}
@media (min-width: 576px){
    .ttvservices-all-block.card-deck {
        margin-bottom: 0;
    }
    .ttv-all-service.card-deck{
        margin: 0 -15px;
    }
}
@media (max-width: 575px) {
    .ttvcmscustomer-services {
        margin-bottom: 30px;
    }
    .ttvservices-all-block .ttvservices-center.card {
        width: 100%;
        margin-bottom: 30px;
    }
    .ttvservices-all-block .ttvservices-center:last-child{
        margin-bottom: 0;
    }
}
/******************************* end media service ***********************************/
/*****rtl service**************/
.lang-rtl .ttvcmscustomer-services .ttvservices-center{
    text-align: right;
}
.lang-rtl .ttvcmscustomer-services .ttvservices-img-conut{
    margin: 0 0 0 20px;
}
@media(min-width: 992px){
    .lang-rtl .ttvcmscustomer-services .ttvservices-1:hover .ttvservices-img,
    .lang-rtl .ttvcmscustomer-services .ttvservices-2:hover .ttvservices-img,
    .lang-rtl .ttvcmscustomer-services .ttvservices-3:hover .ttvservices-img,
    .lang-rtl .ttvcmscustomer-services .ttvservices-4:hover .ttvservices-img{
        border-radius: 15px 0 15px 0;
    }
}
/*********end rtl service************/
/***************************************** and ttv Service **************************************************/
/************************************************************ testimonial ********************************************************/
.ttvcmstestimonial {
    margin-bottom: 80px;  
    padding: 55px 0;
    background-position: center;
    background-image: url(../img/Tesimonial_Paralex.jpg);
}

.ttvtestimonial-title{
    margin: 0;
}
.ttvtestimonial-img-block{
    margin-bottom: 35px;
}
.ttvtestimonial-title-des{  
    display: block;
    margin: 0;
}
.ttvcmstestimonial .ttvtestimonial-designation,
.ttvcms-left-testimonial .ttvtestimonial-designation {
    font-weight: 500;
    font-size: 13px;
    color: #ff4949;
    line-height: 22px;
    font-style: italic;
}
.ttvcmstestimonial .ttvcmstestimonial-main-title-wrapper {
    text-align: center;
}
.ttvtestimonial-title a ,
.ttvcms-left-testimonial .ttvtestimonial-title a{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
}

.ttvcmstestimonial .ttvtestimonial-dec,
.ttvcms-left-testimonial .ttvtestimonial-dec{ 
    font-weight: 300;
    color: #888888;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
    padding: 0 100px;
}

.ttvtestimonial-inner-content-box {
    margin-bottom: 0;
}
.ttvtestimonial-inner-content-box .ttvtestimonial-img-block img {
    overflow: hidden;
    width: 135px;
    border-radius: 100px;
}
.ttvtestimonial-content-box {
    max-width: 930px;
    margin: auto;
}
.ttvtestimonial-wrapper-info{
    padding: 0 15px;
}
.ttvcmstestimonial .ttvcms-main-title .ttvmain-desc {
	color: #888888;
}
@media(min-width: 1399px){
    .ttvtestimonial-slider-inner{
        margin: 0 -15px;
    }
}
@media(max-width: 991px){
    .ttvcmstestimonial {
        margin-bottom: 30px;
        padding: 30px 0;
    }
    .ttvcmstestimonial .ttvtestimonial-dec,
	.ttvcms-left-testimonial .ttvtestimonial-dec{ 
       	padding: 0 15px;
	}
	.ttvcms-testimonial-pagination-wrapper .ttvcms-testimonial-next-pre-btn .ttvtestimonial-prev {
		left: 0;
	}
	.ttvcms-testimonial-pagination-wrapper .ttvcms-testimonial-next-pre-btn .ttvtestimonial-next {
		right: 0;
	}
}
/************left testimonial************/
.ttvcms-left-testimonial .ttvtestimonial-slider-inner {
    max-width: 100%;
    margin: 0;
}
.ttvcms-left-testimonial .ttvtestimonial-dec{
    margin-bottom: 15px;
    padding: 0 15px;
}
.ttvcms-left-testimonial .ttvtestimonial-img-block{
    margin-bottom: 15px;
}
.ttvcms-left-testimonial .ttvtestimonial-inner-content-box {
    margin-bottom: 0;
}
/********************************************* end testimonial *********************************************************/
/***************************************************** offer banner *****************************************************/
.ttvcmsofferbanners-one{
    margin-bottom: 80px;
}
.ttvbanner-hover-wrapper {
    position: relative;
    overflow: hidden;
}
.ttvcmsttvcmsofferbanners .ttvbanner{
	background-attachment: fixed;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
	padding: 40px 0;	
}
.ttvone-banner-wrapper-info{
	text-align: center;
}
.ttvcmsofferbanners-one .ttvbanner-content{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 45px 30px;
    border: 5px solid #ffffff;
    border-radius: 0 30px 0 30px;
    left: 7%;
}
.ttvcmsofferbanners-one .ttvbanner1-title
{
	font-size: 40px;
	color: #222222;
	font-weight: 400;
	font-family: 'Playball', cursive;
	margin-bottom: 5px;
	display: block;
}
.ttvbanner1-sub-title a:hover{
	color: #222222;
}
.ttvbanner1-sub-title span{
	font-size: 40px;
	color: #222222;
	font-weight: 400;
	font-family: 'Playball', cursive;
	margin-bottom: 20px;
	display: block;
}
.ttvbanner1-sub-title{
	font-size: 60px;
	color: #222222;
	font-weight: 700;
}

.ttvcmsofferbanners-one .ttvbanner-content .ttvbanner1-btn{
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    background-color: #ff4949;
    padding: 6px 30px;
    border-radius: 21px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.ttvcmsofferbanners-one .ttvbanner-content .ttvbanner1-btn a{
	color: #ffffff;
}
.ttvcmsofferbanners-one .ttvbanner-content .ttvbanner1-btn:hover{
    background-color: #111111;
}
/********* mobile offer banner *********/

@media(max-width: 991px){
    .ttvcmsofferbanners-one{
        margin-bottom: 30px;
    }
    .ttvcmsofferbanners-one .ttvbanner1-title{
    	font-size: 24px;
    }
    .ttvbanner1-sub-title{
    	font-size: 30px;
    }
    .ttvbanner1-sub-title span{
    	font-size: 24px;
    }
    .ttvcmsofferbanners-one .ttvbanner-content .ttvbanner1-btn{
    	font-size: 14px;
    	padding: 9px 20px;

    }
    .ttvcmsofferbanners-one .ttvbanner-content{
    	padding: 20px;
    }
}
@media(max-width: 575px){
	.ttvcmsofferbanners-one .ttvbanner-content{
		padding: 10px;
		left: 9%;
	}
	.ttvcmsofferbanners-one .ttvbanner1-title{
		font-size: 14px;
	}
	.ttvbanner1-sub-title{
		font-size: 15px;
	}
	.ttvbanner1-sub-title span{
		font-size: 14px;
	}
	.ttvcmsofferbanners-one .ttvbanner-content .ttvbanner1-btn{
		padding: 6px 10px;
		font-size: 9px;
	}
}
/***************************************************** end offer banner *****************************************************/
@media (max-width: 991px) {
	.ttvcmsmain-slider-wrapper,
	.ttvcmsbrandlist-slider,
	.ttvcmscustomer-services,
	.ttvcmsblog-event.ttvcmsblog-event-home,
	.ttvcmsmultibanners,
	.ttvcmsspecial-product,
	.ttvcmsfeatured-product,
	.ttvcmsbest-seller-product,
	.ttvcmsnew-product,
	.ttvcmstab-product-wrapper ,
	.ttvcmsofferbanners-one,
	.ttvcmstestimonial,
	.ttvcms-block,
	.ttvcmscategory-slider,
	.ttvcmsofferbanners-two,
	.ttvcmssingle-block  {
		margin-bottom: 30px;
	}		
}

