 *::-webkit-scrollbar-thumb {
	background-color: #maincolor1;
}

a:focus,
a:hover,
.btn-outline-primary,
.btn-link,
.page-link ,
.text-primary ,
.btn-unstyle:focus .expand-more,
.dropdown-item:focus,
.dropdown-item:hover,
.fancybox-success a:hover ,
.bootstrap-datetimepicker-widget .btn.focus,
.bootstrap-datetimepicker-widget .btn:focus,
.bootstrap-datetimepicker-widget .btn:hover,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li.current > .ttvmenu-link-wrapper i,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li.current > .ttvmenu-link-wrapper a span,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li:hover > .ttvmenu-link-wrapper i,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li:hover > .ttvmenu-link-wrapper a span,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="1"] > li > .ttvmenu-link-wrapper a span:hover,
.ttvmain-menu-wrapper a[data-depth="2"] .ttvmain-menu-text-box:hover,
.ttvmain-menu-icon:hover .ttvmain-menu-open-wrapper,
.ttvheader-sarch-display:hover .ttvserach-name-wrapper,
.ttv-account-wrapper .ttv-myaccount-btn:hover span, 
.ttv-account-wrapper .ttv-myaccount-btn:hover i,
#ttvcmsdesktop-language-selector .ttv-language-btn:hover i, 
#ttvcmsdesktop-currency-selector .ttv-currency-btn:hover i, 
#ttvcmsdesktop-language-selector .ttv-language-btn:hover .ttv-language-span, 
#ttvcmsdesktop-currency-selector .ttv-currency-btn:hover .ttv-currency-span, 
#ttvcmsdesktop-user-info:hover .ttvhedaer-sign-btn i,
#ttvcmsdesktop-user-info .ttvhedaer-sign-btn:hover,
#_desktop_wishtlistTop:hover .ttvwishlist-name span,
.ttvcmsdesktop-view-compare:hover .ttvdesktop-view-compare-name,
.ttv-language-dropdown li a:hover, .ttv-currency-dropdown li a:hover,
.ttvcms-header-cart:hover .ttv-cart-cart-inner .ttv-cart-title,
.ttvcms-header-cart:hover .ttvcart-count-products-count,
.ttvcms-header-cart:hover .cart-products-count, 
.ttvcms-header-cart:hover .ttvshopping-cart-name,
.ttvnews-event-link a:hover,
.ttvallproduct-link a:hover,
.ttvleft-right-penal-all-block .ttvall-product-bottom-link-block a:hover, 
.ttvcmsblog-left-side .ttvnews-event-link a:hover ,
.ttvproduct-timer-wrapper .seconds,
.ttvemail-send-link:hover,
.ttvfooter-account-link .ttvfooter-link-wrapper li a:hover, 
#footer_sub_menu_ttvfooter_category li a:hover,
#block_myaccount_infos #footer_account_list li a:hover, 
#block_myaccount_infos li a:hover,
.ttvcopylink p:hover,
.block_newsletter .ttvnewsletter-input input[type=text]:focus+button .search,
.block_newsletter .ttvnewsletter-input button[type=submit] .search:hover,
.pagination .current a,
.ttvsearch-dropdown-total-wrapper:hover .ttvsearch-dropdown-total,
.ttvproduct-button-main button:hover i,
.ttvproduct-button-main button:hover,
.ttvnews-event-content-wrapper .ttvnews-event-read-more a ,
.ttvcmstestimonial .ttvtestimonial-designation,
.ttvcms-left-testimonial .ttvtestimonial-designation {
    color: #maincolor1;
}

.btn-primary:hover,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle ,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.card-primary ,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.tag-primary,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.bg-primary,
.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default,
.custom-radio input[type=radio]:checked+span,
.btn-default:hover,
.bootstrap-datetimepicker-widget .datepicker td.active,
.bootstrap-datetimepicker-widget .datepicker td.active:hover,
.select-title option[selected="selected"],
.select-title .js-search-link:hover,
.ttvmain-menu-icon:hover .ttvmain-menu-open i,
.ttvmain-menu-icon:hover .ttvmain-menu-close i,
.ttv-cart-cart-outer .ttv-cart-cart-inner,
.ttvcart-product-list-checkout:hover,
.ttvsearch-more-search:hover,
.ttvtab-pagination .ttvtab-featured-pagination-next-pre-btn .ttvtab-featured-product-prev:hover,
.ttvtab-pagination .ttvtab-new-pagination-next-pre-btn .ttvtab-new-product-prev:hover,
.ttvtab-pagination .ttvtab-best-seller-pagination-next-pre-btn .ttvtab-best-seller-product-prev:hover,
.ttvtab-pagination .ttvtab-special-pagination-next-pre-btn .ttvtab-special-product-prev:hover,
.ttvcmsspecial-pagination .ttvcmsspecial-next-pre-btn .ttvcmsspecial-prev:hover,
.ttvcmsfeatured-pagination .ttvcmsfeatured-next-pre-btn .ttvcmsfeatured-prev:hover,
.ttvcmsbest-seller-pagination .ttvcmsbest-seller-next-pre-btn .ttvcmsbest-seller-prev:hover,
.ttvcmsnew-pagination .ttvcmsnew-next-pre-btn .ttvcmsnew-prev:hover,
.ttvcategory-slider-pagination .ttvcategory-slider-next-pre-btn .ttvcategory-slider-prev:hover,
.ttvcms-testimonial-pagination-wrapper .ttvcms-testimonial-next-pre-btn .ttvtestimonial-prev:hover,
.ttvrelated-pagination-wrapper .ttvcmsrelated-next-pre-btn .ttvcmsrelated-prev:hover,
.ttvcms-blog-left-side-pagination-wrapper .ttvblog-left-side-prev:hover,
.ttvcms-service-pagination-wrapper .ttvcms-service-next-pre-btn .ttvservice-slider-prev:hover,
.ttvmain-slider-next-pre-btn .ttvcmsmain-prev:hover,
.ttvcmsblog-event-home .ttvcmsblog-event-home-next-pre-btn .ttvcmsblog-event-home-slider-prev:hover ,
.ttvcms-brandlist-pagination-wrapper .ttvcms-brandlist-next-pre-btn .ttvbrandlist-slider-prev:hover,
.ttvcms-left-testimonial .ttvcms-testimonial-pagination-wrapper .ttvcms-testimonial-next-pre-btn .ttvtestimonial-prev:hover,
.ttvcms-blog-left-side-pagination-wrapper .ttvcms-blog-left-side-next-pre-btn .ttvblog-left-side-prev:hover,
.ttvtab-pagination .ttvtab-featured-pagination-next-pre-btn .ttvtab-featured-product-next:hover,
.ttvtab-pagination .ttvtab-new-pagination-next-pre-btn .ttvtab-new-product-next:hover,
.ttvtab-pagination .ttvtab-best-seller-pagination-next-pre-btn .ttvtab-best-seller-product-next:hover,
.ttvtab-pagination .ttvtab-special-pagination-next-pre-btn .ttvtab-special-product-next:hover,
.ttvcmsspecial-pagination .ttvcmsspecial-next-pre-btn .ttvcmsspecial-next:hover,
.ttvcmsfeatured-pagination .ttvcmsfeatured-next-pre-btn .ttvcmsfeatured-next:hover,
.ttvcmsbest-seller-pagination .ttvcmsbest-seller-next-pre-btn .ttvcmsbest-seller-next:hover,
.ttvcmsnew-pagination .ttvcmsnew-next-pre-btn .ttvcmsnew-next:hover,
.ttvcategory-slider-pagination .ttvcategory-slider-next-pre-btn .ttvcategory-slider-next:hover,
.ttvcms-testimonial-pagination-wrapper .ttvcms-testimonial-next-pre-btn .ttvtestimonial-next:hover,
.ttvrelated-pagination-wrapper .ttvcmsrelated-next-pre-btn .ttvcmsrelated-next:hover,
.ttvcms-blog-left-side-pagination-wrapper .ttvblog-left-side-next:hover,
.ttvcms-service-pagination-wrapper .ttvcms-service-next-pre-btn .ttvservice-slider-next:hover,
.ttvmain-slider-next-pre-btn .ttvcmsmain-next:hover,
.ttvcmsblog-event-home .ttvcmsblog-event-home-next-pre-btn .ttvcmsblog-event-home-slider-next:hover,
.ttvcms-brandlist-pagination-wrapper .ttvcms-brandlist-next-pre-btn .ttvbrandlist-slider-next:hover,
.ttvcms-left-testimonial .ttvcms-testimonial-pagination-wrapper .ttvcms-testimonial-next-pre-btn .ttvtestimonial-next:hover ,
.ttvcms-blog-left-side-pagination-wrapper .ttvcms-blog-left-side-next-pre-btn .ttvblog-left-side-next:hover ,
.ttvtabs-products li.active,
.ttvtabs-products li:hover,
.ttvproduct-wrapper .ttvproduct-cart-btn:hover .ttvproduct-add-to-cart,
#products.list .ttvproduct-cart-btn-list .ttvproduct-add-to-cart:hover,
#products.list-2 .ttvproduct-cart-btn-list .ttvproduct-add-to-cart:hover,
#products.catalog .ttvproduct-catalog-btn-wrapper .ttvproduct-add-to-cart:hover,
.ttvproduct-wrapper .ttvproduct-quick-btn:hover .ttvproduct-quick-icon,
#products.list .ttvproduct-quick-btn:hover .ttvproduct-quick-icon,
#products.list-2 .ttvproduct-quick-btn:hover .ttvproduct-quick-icon,
#products.catalog .ttvproduct-quick-btn:hover .ttvproduct-quick-icon,
.ttvproduct-wishlist-btn:hover .ttvproduct-wishlist,
#products.list .ttvproduct-wishlist-btn-list .ttvproduct-wishlist:hover,
#products.list-2 .ttvproduct-wishlist-btn-list .ttvproduct-wishlist:hover,
#products.catalog .ttvproduct-wishlist-catalog-btn .ttvproduct-wishlist:hover,
.ttvproduct-compare-btn:hover .ttvproduct-compare ,
#products.list .ttvproduct-compare-btn-list .ttvproduct-compare:hover,
#products.list-2 .ttvproduct-compare-btn-list .ttvproduct-compare:hover,
#products.catalog .ttvproduct-compare-catalog-btn .ttvproduct-compare:hover,
.ttvnewsleteer-btn-wrapper .ttvnewslatter-btn-title,
.ttvbottom-to-top,
.ttv-innerpage-button:hover,
.ttvsearch-more-search:hover,
.ttvcart-product-list-checkout:hover,
.ttvcart-product-list-viewcart:hover,
.pagination .ttv-pagination-wrapper .ttv-pagination-li.active ,
.pagination .ttv-pagination-wrapper .ttv-pagination-li:hover,
.ttvtabs li.active a:before,
#products.grid .ttvproduct-view.ttvproduct-grid,
#products.grid-2 .ttvproduct-view.ttvproduct-grid-2,
#products.list .ttvproduct-view.ttvproduct-list,
#products.list-2 .ttvproduct-view.ttvproduct-list-2,
#products.catelog .ttvproduct-view.ttvproduct-catelog,
.ttvcms-left-column-wrapper .ttv-left-pannal-btn-wrapper:hover,
.ttvcmsproduct-grid-list .ttvproduct-view:hover,
.ttv_search_filter_wrapper .ttvleft-right-title-wrapper:hover,
.box input:checked + label,
.ttvcmstheme-control .ttvtheme-control-icon:hover,
.ttvtheme-control-wrapper .ttvtheme-option .btn-primary ,
.ttvtheme-control-wrapper .ttvtheme-control-reset:hover ,
.ttvcmstheme-control .ttvtheme-control-wrapper .ttvselect-theme select option:hover,
.ttvsingle-block-info-box .ttvsingle-bolck-btn-link,
.ttvblob-all-submit-btn .ttvcmsblog_submit_btn:hover ,
.ttvcmsofferbanners-one .ttvbanner-content .ttvbanner1-btn,
.ttvmain-slider-contant .ttvmain-slider-button {
	background-color: #maincolor1;
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.card-primary,
.card-outline-primary,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.ttvtab-pagination .ttvtab-featured-pagination-next-pre-btn .ttvtab-featured-product-prev:hover,
.ttvtab-pagination .ttvtab-new-pagination-next-pre-btn .ttvtab-new-product-prev:hover,
.ttvtab-pagination .ttvtab-best-seller-pagination-next-pre-btn .ttvtab-best-seller-product-prev:hover,
.ttvtab-pagination .ttvtab-special-pagination-next-pre-btn .ttvtab-special-product-prev:hover,
.ttvcmsspecial-pagination .ttvcmsspecial-next-pre-btn .ttvcmsspecial-prev:hover,
.ttvcmsfeatured-pagination .ttvcmsfeatured-next-pre-btn .ttvcmsfeatured-prev:hover,
.ttvcmsbest-seller-pagination .ttvcmsbest-seller-next-pre-btn .ttvcmsbest-seller-prev:hover,
.ttvcmsnew-pagination .ttvcmsnew-next-pre-btn .ttvcmsnew-prev:hover,
.ttvcategory-slider-pagination .ttvcategory-slider-next-pre-btn .ttvcategory-slider-prev:hover,
.ttvcms-testimonial-pagination-wrapper .ttvcms-testimonial-next-pre-btn .ttvtestimonial-prev:hover,
.ttvrelated-pagination-wrapper .ttvcmsrelated-next-pre-btn .ttvcmsrelated-prev:hover,
.ttvcms-blog-left-side-pagination-wrapper .ttvblog-left-side-prev:hover,
.ttvcms-service-pagination-wrapper .ttvcms-service-next-pre-btn .ttvservice-slider-prev:hover,
.ttvmain-slider-next-pre-btn .ttvcmsmain-prev:hover,
.ttvcmsblog-event-home .ttvcmsblog-event-home-next-pre-btn .ttvcmsblog-event-home-slider-prev:hover ,
.ttvcms-brandlist-pagination-wrapper .ttvcms-brandlist-next-pre-btn .ttvbrandlist-slider-prev:hover,
.ttvcms-left-testimonial .ttvcms-testimonial-pagination-wrapper .ttvcms-testimonial-next-pre-btn .ttvtestimonial-prev:hover,
.ttvcms-blog-left-side-pagination-wrapper .ttvcms-blog-left-side-next-pre-btn .ttvblog-left-side-prev:hover,
.ttvtab-pagination .ttvtab-featured-pagination-next-pre-btn .ttvtab-featured-product-next:hover,
.ttvtab-pagination .ttvtab-new-pagination-next-pre-btn .ttvtab-new-product-next:hover,
.ttvtab-pagination .ttvtab-best-seller-pagination-next-pre-btn .ttvtab-best-seller-product-next:hover,
.ttvtab-pagination .ttvtab-special-pagination-next-pre-btn .ttvtab-special-product-next:hover,
.ttvcmsspecial-pagination .ttvcmsspecial-next-pre-btn .ttvcmsspecial-next:hover,
.ttvcmsfeatured-pagination .ttvcmsfeatured-next-pre-btn .ttvcmsfeatured-next:hover,
.ttvcmsbest-seller-pagination .ttvcmsbest-seller-next-pre-btn .ttvcmsbest-seller-next:hover,
.ttvcmsnew-pagination .ttvcmsnew-next-pre-btn .ttvcmsnew-next:hover,
.ttvcategory-slider-pagination .ttvcategory-slider-next-pre-btn .ttvcategory-slider-next:hover,
.ttvcms-testimonial-pagination-wrapper .ttvcms-testimonial-next-pre-btn .ttvtestimonial-next:hover,
.ttvrelated-pagination-wrapper .ttvcmsrelated-next-pre-btn .ttvcmsrelated-next:hover,
.ttvcms-blog-left-side-pagination-wrapper .ttvblog-left-side-next:hover,
.ttvcms-service-pagination-wrapper .ttvcms-service-next-pre-btn .ttvservice-slider-next:hover,
.ttvmain-slider-next-pre-btn .ttvcmsmain-next:hover,
.ttvcmsblog-event-home .ttvcmsblog-event-home-next-pre-btn .ttvcmsblog-event-home-slider-next:hover,
.ttvcms-brandlist-pagination-wrapper .ttvcms-brandlist-next-pre-btn .ttvbrandlist-slider-next:hover,
.ttvcms-left-testimonial .ttvcms-testimonial-pagination-wrapper .ttvcms-testimonial-next-pre-btn .ttvtestimonial-next:hover ,
.ttvcms-blog-left-side-pagination-wrapper .ttvcms-blog-left-side-next-pre-btn .ttvblog-left-side-next:hover,
.ttv-innerpage-button:hover {
	border-color: #maincolor1
}

.ttvmain-menu-icon:hover,
.ttvcart-product-list-checkout:hover,
.ttvsearch-more-search:hover,
.ttvtabs-products li.active,
.ttvtabs-products li:hover,
.ttvsearch-more-search:hover,
.ttvcart-product-list-checkout:hover,
.ttvcart-product-list-viewcart:hover{
    border: 1px solid #maincolor1;
}
@media(min-width: 992px){
    .ttvcategory-slider-wrapper-info:hover .ttvcategory-slider-info-box .ttvcategory-slider-title{
        color: #maincolor1;
    }  
    .ttvcmscustomer-services .ttvservices-1:hover .ttvservices-img,
    .ttvcmscustomer-services .ttvservices-2:hover .ttvservices-img,
    .ttvcmscustomer-services .ttvservices-3:hover .ttvservices-img,
    .ttvcmscustomer-services .ttvservices-4:hover .ttvservices-img {
    	background-color: #maincolor1;
    	border: 1px solid #maincolor1;
    }
}
